{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}
{% block lead %}This page must show the attribution form of your project. This includes the work done by each of the
student members on your team and any work that was done by people outside of your team, including the host labs,
advisors, instructors, and individuals not on the team roster. This requirement is not about literature references -
these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id = "cover-image" style="background-image: url('https://static.igem.wiki/teams/4702/wiki/result-for-notebook/people-photo/attribution.jpg');
background-size:cover">
  <section class="col-md-12 text-center"
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Attributions</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .anchor {
    position: relative;
  }

  .anchor::before {
    content: '';
    display: block;
    height: 200px;
    /* 可根据需要调整偏移值 */
    margin-top: -200px;
    /* 与height相同的负值，实现往上偏移 */
  }
</style>
<div id="1" class="anchor">

</div>


<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->
<div class="row mt-4 gaspcol">
  <script type="text/javascript">
    // Listen to size change and update form height
    window.addEventListener('message', function (e) {
      const { type, data } = JSON.parse(e.data);
      if (type === 'igem-attribution-form') {
        const element = document.getElementById('igem-attribution-form')
        element.style.height = data + 50 + 'px'
      }
    });
  </script>
  <iframe style='width: 100%' id="igem-attribution-form"
    src="https://attributions.igem.org?team=Westlake-China&year=2023">
  </iframe>
  <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

</div>

{% endblock %}