{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<style>p{font-size:1.2rem;}</style>
<link href="{{ url_for('static', filename = 'engineering.css') }}" rel="stylesheet">
<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'description.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image:url('https://static.igem.wiki/teams/4702/wiki/description/7193bbdd2229389c3ad922a2036418a.jpg');background-size:cover">
  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Project Description</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="mp-content offset-md-1 col-md-10 col-lg-10 ">
  <div id="href-1" class="container mx-auto mt-5 w-90">
    <br><br>
    <h1 align="center">
      <span style="background-color: rgb(232,250,248);  
  padding: 0px 10px;margin-bottom: 0px;border-radius: 20px; font-size: xxxx-large;">
        Background</span>
    </h1>
    <hr class="hr-ani">
  </div>
</div>
<div id="wrapper">
  <div id="content">
    <div class="spacer"></div>
    <div class="accordions" style="padding-top:0;">
      <div class="accordion gaspcol">
        <div class="title">
          Current Status of Cancer, Focus on Breast Cancer
        </div>
        <div class="text">
          Cancer continues to be a global health concern, with breast cancer
          ranking among the most prevalent and life-threatening malignancies
          worldwide. The increasing incidence of breast cancer underscores the
          urgent need for innovative treatment strategies. In the public data
          from World Health Organization (WHO), breast cancer tops the list
          as the most commonly diagnosed cancer worldwide and claims
          a significant number of lives.
          <br><br>
          <div align="center"><img src="https://static.igem.wiki/teams/4702/wiki/description/description-background.png"
              style="width:100%" alt="Estimated age-standardized incidence and mortality rates (World) in 2020, World, both sexes, all ages
            (excl.NMSC)"><br><br>
            <p><b>Figure 1.</b> Estimated age-standardized incidence and mortality rates (World) in 2020, World,
              both
              sexes, all ages
              (excl.NMSC).</p>
          </div>
          <br><br> Breast cancer is a heterogeneous disease characterized by
          the uncontrolled growth of cells in the breast tissue. It is the
          most common cancer among women, with a significant impact on their
          health and quality of life. Advances in early detection and treatment
          have improved survival rates, but challenges persist, including late-stage
          diagnoses and resistance to conventional therapies.
          <br><br>The global burden of breast cancer is substantial,
          with millions of new cases diagnosed annually. Geographical
          disparities in incidence and mortality rates emphasize the
          importance of tailored approaches to prevention, diagnosis,
          and treatment. Breast cancer awareness, research, and healthcare
          infrastructure play pivotal roles in addressing this global challenge.
          <br>
        </div>
      </div>
      <div id="href-2" class="accordion gaspcol">
        <div class="title">Current Problems in Treating Breast Cancer</div>
        <div class="text">
          <div align="center"><img
              src="https://static.igem.wiki/teams/4702/wiki/description/description-background2.png" style="width:100%"
              alt="Current Treatment towards Breast Cancer"><br><br>
            <p><b>Figure 2.</b> Current Treatment towards Breast Cancer.</p>
          </div>
          Treating breast cancer remains a complex and multifaceted
          challenge, despite significant advancements in the field
          of oncology. Several current problems and challenges
          persist in the treatment of breast cancer:
          <br><br>
          <b style="font-size: large;">Late-stage Diagonsis</b><br>
          One of the most significant challenges is the late-stage
          diagnosis of breast cancer. Many patients are diagnosed
          when the disease has already reached an advanced stage,
          reducing treatment options and overall survival rates.
          Enhancing early detection methods and improving breast
          cancer screening programs are essential to address this issue.
          <br><br>
          <b style="font-size: large;">Tumor Heterogeneity</b><br>
          Breast cancer is not a single disease but a heterogeneous
          group of diseases with varying molecular subtypes. Each
          subtype may require different treatment strategies.
          Tailoring treatments to the specific subtype of breast
          cancer is crucial for optimizing outcomes, but this can
          complicate treatment decision-making.
          <br><br>
          <b style="font-size: large;">Resistance to Therapy</b><br>
          Resistance to therapy, whether it's chemotherapy, hormonal
          therapy, or targeted therapy, remains a significant concern.
          Breast cancer cells can develop resistance to treatment over
          time, leading to disease progression. Researchers are
          actively studying the mechanisms of resistance to develop
          more effective therapies.
          <br><br>
          <b style="font-size: large;">Toxicity and Side Effects</b><br>
          Toxicity and Side Effects: Breast cancer treatments, including
          chemotherapy and radiation therapy, can cause severe side
          effects and toxicity. These side effects can impact a patient's
          quality of life and sometimes result in treatment interruptions
          or discontinuations. Finding ways to minimize side effects
          while maintaining treatment efficacy is an ongoing challenge.
          <br><br>
          <b style="font-size: large;">Cost of Treatment</b><br>
          Breast cancer treatment can be expensive, and the financial
          burden can be overwhelming for patients and their families.
          Access to innovative therapies and adequate insurance coverage
          remains a concern, and addressing the cost of cancer care is
          crucial for improving patient outcomes and reducing disparities in care.
        </div>
      </div>
      <div class="accordion gaspcol">
        <div class="title">Current Status of Iron Oxide Nanoparticle Synthesis</div>
        <div class="text">
          Iron oxide nanoparticles have emerged as versatile materials with promising
          applications in the medical field,. The synthesis of these nanoparticles
          can be categorized into three main approaches: physical synthesis, chemical
          synthesis, and biological synthesis,
          each with its own set of advantages and disadvantages.
          <br><br><br>
          <!--图表-->
          <div class="" style="
          position: relative;height:400px">
            <div id="ChartDom" style="width:100%;height:100%">
            </div>
            <!--style="width:600px; height:400px; margin:auto"-->
          </div>
          <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('ChartDom'));

            // 指定图表的配置项和数据
            option = {
              title: {
                text: 'Current status of IONPs synthesis methods',
                left: 'center',
                textStyle: {
                  color: 'blue',  // 设置标题字体颜色
                }
              },
              tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {d}%', // 显示百分比
              },
              legend: {
                orient: 'vertical',
                top: '5%', // 设置标题距离容器顶部的距离，根据需要调整值
                left: 'left',
                textStyle: {
                  color: 'white',  // 设置图例字体颜色
                },

                top: '8%', // 设置标题距离容器顶部的距离，根据需要调整值
              },
              series: [
                {
                  left: "20%",
                  name: 'Access From',
                  type: 'pie',
                  radius: '60%',
                  data: [
                    { value: 24, name: 'Other Chemical methods' },
                    { value: 8, name: 'Physical methods' },
                    { value: 23, name: 'Hydrothermal' },
                    { value: 18, name: 'Microemulsion' },
                    { value: 2, name: 'Biological mediated' },
                    { value: 25, name: 'Coprecipitation' }
                  ],
                  label: {
                    show: true,
                    color: 'white',  // 设置数据项字体颜色
                    // 可以根据需要调整透明度，例如：backgroundColor: 'rgba(255, 255, 255, 0.7)'
                  }
                }
              ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
          </script>
        </div>
        <div class="text">
          <b style="font-size: large;">Physical Synthesis</b><br>
          Historically, physical synthesis methods have been employed to produce
          iron oxide nanoparticles. These methods involve high-temperature processes
          such as thermal decomposition and laser ablation. While physical synthesis
          techniques yield nanoparticles with excellent crystallinity and controlled
          size distribution, they often suffer from limited scalability and can require
          harsh reaction conditions, which may not be ideal for medical applications.
          <br><br>
          <b style="font-size: large;">Chemical Synthesis</b><br>
          Chemical synthesis techniques, such as co-precipitation and solvothermal
          methods, have become more prevalent due to their scalability and relative
          simplicity. These methods enable the fine-tuning of nanoparticle properties
          like size, shape, and surface functionalization. However, they may introduce
          impurities and require the use of toxic reagents, raising concerns about
          biocompatibility for medical use. Also the chemical synthesis process requires
          toxic or harmful reagents, which may augment the environmental concerns.
          <br><br>
          <b style="font-size: large;">Biological Synthesis</b><br>
          The advent of biological synthesis methods has garnered considerable
          interest in recent years. Utilizing microorganisms, plants, or
          biomolecules, this approach offers eco-friendly and biocompatible
          routes to produce iron oxide nanoparticles. Biologically synthesized
          nanoparticles often exhibit excellent biocompatibility and can be
          tailored for specific medical applications. However, the control over
          size and shape can be more challenging compared to chemical methods.
        </div>
      </div>

      <div class="accordion gaspcol">
        <div class="title">Application of Iron Oxide Nanoparticles in Medical Field Currently</div>
        <div class="text">
          In the medical field, iron oxide nanoparticles have found several potential
          applications, including but not limited to:
          <br><br>
          <b style="font-size: large;">Magnetic Resonance Imaging (MRI)</b><br>
          Iron oxide nanoparticles are utilized as contrast agents in MRI scans due to
          their magnetic properties, aiding in the detection and characterization of cancerous lesions.
          <br><br>
          <b style="font-size: large;">Drug Delivery</b><br>
          Their surface properties and unique ability for agent design
          allow for the attachment of therapeutic agents,
          facilitating targeted drug delivery to cancer cells while minimizing systemic side effects.
          <br><br>
          <b style="font-size: large;">Hyperthermia Treatment</b><br>
          Iron oxide nanoparticles can generate heat when exposed to an alternating
          magnetic field, making them suitable for hyperthermia therapy, where cancer
          cells are selectively heated and destroyed.
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="href-6" class="offset-md-1 col-md-10">
  <section id="features">
    <div class="features-inner">
      <div class="features-group has-animation animation-rtl">
        <div class="features-text">
          <h1>Our Solution</h1>
          <p>
            Since the treatment of breast cancer nowadays is still facing many challenges like significant side effects,
            low specificity and cannot deal with the subgroup of breast cancer well, we are trying to develop a new
            method for the treatment of breast cancer. Our method is based on the iron oxide nanoparticles, which could
            be
            linked with the antibody targeting overexpressed protein on the surface of some breast cancer subgroup
            cells.
            <br><br>We choose to use iron oxide nanoparticles as the carrier backbond mainly because of its relative
            high
            biocompatibility in different types of nanoparticles, especially the biologically synthesized iron oxide
            nanoparticles. And the iron oxide nanoparticles could be synthesized by the <i>E. coli</i> dircetly with
            ferric
            ions as the inducer, which is also a green way to synthesize nanoparticles.
            <br><br>Though our final outlook is to have the IONPs directly linked to the antibody in a self-assembly
            manner,
            the coating composition of the IONPs is still a problem to be solved. In this way, bringing forward a
            self-assembly design for the IONPs could be hard and unpractical at this stage.
            <br><br>So, instead of the self-assembly design, we choose to synthesize the IONPs and the antibody
            separately,
            and then link them together with the help of the NHS-PEG-Maleimide bridge or through EDC-NHS linkage.
            This way, we could still have the IONPs and the antibody linked together for specific targeting.<br>
            <br>For the antibody, we choose to use the scFv domain of the anti HER2 antibody, who had been proved to be
            properly expressed in the SHuffle strain <i>E. coli</i>. So we integrate the scFv domain of the anti HER2
            into a vector with the functional groups for linkage and separation. Then, the vector is transformed into
            the SHuffle strain <i>E. coli</i> for protein expression and folding. After purification, the antibody
            was linked to the IONPs. And finally we tested the cytotoxicity of the IONPs with or without the antibody
            linked to it, indirectly tested the affinity of the antibody to the HER2 receptor.
            <br><br>Beyond that, we also designed the fluorescent staining method to test the affinity of the antibody
            to
            the HER2 receptor. And doxorubicin junction method was also designed to test the cytotoxicity of the IONPs,
            though this part of experiment haven't been conducted by us due to the limited time.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>




<div class="flowchart">
  <div class="mp-content offset-md-1 col-md-10 col-lg-10 ">
    <div id="href-1" class="container mx-auto mt-5 w-90">
      <h2 style="text-align: center;">Our Experiment Flow Chart</h2>

      <hr class="hr-ani">
    </div>
  </div>
  <section class="timeline">
    <ul>
      <li>
        <div id="href-3">
          <time>Biosynthesis of IONPs and Separation</time>
          Genetically edited <i>E. coli</i> is used to synthesize Iron Oxide Nanoparticles (IONPs) by adding
          Fe<sup>3+</sup> for induction.
          <br>After leaving the system in shaker for 1-2 days, the IONPs are separated from the culture by
          untrasonification and filtration method designed and tested by us own.
          <br>The success of the synthetic process were verified by TEM and DLS analysis.
        </div>
      </li>
      <li>
        <div>
          <time>Biosynthesis of anti HER2 scFv Domain and Purification</time>
          Here, several vectors contain the scFv domain of anti HER2 antibody and the functional groups
          for linkage and separation are designed by us. Then, the vectors are transformed into SHuffle strain
          <i>E. coli</i> for protein expression and folding.
          <br>After the expression, the protein is purified by His-trap column and
          the success of the purification is verified by SDS-PAGE.
        </div>
      </li>
      <li>
        <div id="href-4">
          <time>Linking IONPs and Antibody Together</time>
          Since now we had the IONPs and the scFv domain of anti HER2 antibody, we need to link them together.
          <br>In total two methods are optimized and used by us, one is the direct linkage between the carboxyl
          group on the nanoparticle and the amine group on the antibody, which is done with the help of
          EDC/NHS to have a milder reaction condition.
          <br>For the other one, the carboxyl group on the nanoparticle and the thiol group on the
          antibody are used for linkage through NHS-PEG-Maleimide. For better result, in our vector design,
          one group with a cystine added before and after the polyhis tag is added to the antibody. This way, the
          antibody can be linked to the nanoparticle without affecting its binding domain too much.
          <br>To better verify the linking method, positive control using chemically synthesized IONPs with citric
          acid coating were used for the linkage.
        </div>
      </li>
      <li>
        <div id="href-5">
          <time>Cell Experiment for Antibody Affinity Verification and Cytotoxicity Examination</time>
          To this stage, we had the IONPs with the antibody linked to it. Multiple controlled experiment
          were conducted to verify the affinity of the antibody to the HER2 receptor and the
          cytotoxicity of the IONPs. Confocal analysis and flow cytometry were used for visualization of
          the antibody affinity. And CCK-8 assay was used for the cytotoxicity examination.
        </div>
      </li>
    </ul>
  </section>
</div>
<div class="offset-md-1 col-md-10" style="margin-bottom: 200px;">

  <h1 align="center">
    <span style="background-color: rgb(232,250,248);  
padding: 0px 10px;margin-bottom: 0px;border-radius: 20px; font-size: xxxx-large;">
      Software Design</span>
  </h1>
  <hr class="hr-ani">
  <section id="features">
    <div class="features-inner">
      <!-- Digital XRays-->
      <div class="features-group has-animation animation-rtl">
        <div class="features-text">

          <p>We designed two softwares in order to achieve high throughput data analysis.
            <br><br>The first one is Particle Size Distribution Counter for Transmission Electron Microscope image
            analysis. This software could automatically generate the plot for the size distribution of the nanoparticles
            in the TEM images. By "fine-tuning" image processing parameters, this software could be used for different
            types of materials observed under microscopes beyond just nanoparticles under TEM. To utilize this software
            effectively, users only need to upload image files into the software and set a scale bar for software to
            process. It helps to significantly decline great amount of repetitive work. Furthermore, the software
            processes the graph, extracting particle size information and generating a statistical distribution graph,
            both the statistical distribution graph and the schematic diagram indicating the particles included in the
            statistics would be shown as the output.
            <br><br>
            For example, the following image is the output from this software when a TEM image of the IONPs is uploaded,
            and the size distribution figure of the IONPs is shown below:<br></p>
          <div align="center">
            <img
              src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/engineering/d3f1a90cde3d7cfbb91ed8b852435b1.jpg"
              alt="Output of the software for one sample TEM figure" class="image"
              style="width: 75%;margin-left:0;margin-right:0;margin-bottom:10px">
            <p><b>Figure 1.</b>Output of the software for one sample TEM figure</p><br>
          </div>
          <p>For the second one, we have developed a script specifically designed for high-throughput analysis of
            confocal image fluorescence intensity, inspired by tedious data processing in wet lab experiments. This
            script provides the high throughput processing of TIF images using macro language in Fiji. With our program,
            we can directly perform automatic normalization and statistical analysis of fluorescence intensity for all
            images in a given folder, significantly reducing repetitive workload and streamlining the process. Actually,
            you can change the core codes with different functions in this high-throughput frame. Besides, figures with
            specific nomenclature could be picked out to be analyzed by this program, which is efficient and time-saving
            when only a subgroup of the data is needed for analysis.
          </p>
          <div align="center">
            <img
              src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/engineering/3491389b9de3f492a80e10936445c88.png"
              alt="Size Distribution Output Figure" class="image"
              style="width: 75%;margin-left:0;margin-right:0;margin-bottom:10px">
            <p><b>Figure 2.</b> Size Distribution Data Output Figure</p><br>
          </div>
        </div>
      </div>
      <h1 align="center">
        <span style="background-color: rgb(232,250,248);  
    padding: 0px 10px;margin-bottom: 0px;border-radius: 20px; font-size: xxxx-large;">
          Beyond Experiment</span>
      </h1>
      <hr class="hr-ani">
      <div class="features-group has-animation animation-rtl">
        <div class="features-image"><img
            src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/engineering/254dc290698a9e3aa7d73e66528ade4.png"
            width="110%">
        </div>
        <div class="features-text">
          <p>As our project focuses on developing a bio-synthesis method for iron oxide nanoparticles for targeted
            cancer
            therapy. We have collaborated with medical professionals in oncology, radiotherapy, and surgery, as well
            as
            experts in nanotechnology and synthetic biology. Safety is a central theme, addressing the limitations
            and
            side effects of existing therapies like chemotherapy. By utilizing iron oxide nanoparticles as drug
            carriers, we aim to enhance specificity and minimize impact on healthy cells. Rigorous testing protocols
            and
            in vitro studies assess biocompatibility and toxicity. Stakeholder engagement with patient advocacy
            groups,
            healthcare providers, and pharmaceutical companies helps shape our research and development process,
            prioritizing safety. Overall, our human practices ensure the safety, efficacy, and accessibility of our
            proposed solution for cancer therapy.
          </p>
        </div>
      </div>
      <br>
      <br>
      <h1 align="center">
        <span style="background-color: rgb(232,250,248);  
    padding: 0px 10px;margin-bottom: 0px;border-radius: 20px; font-size: xxxx-large;">
          Reference</span>
      </h1>
      <hr class="hr-ani">
      <div class="features-group has-animation animation-rtl">
        <div class="features-text">
          <p><br>
          <h3>Biosynthesis of IONPs:</h3>
          [1]. Crespo, K. A., Baronetti, J. L., Quinteros, M. A., Páez, P. L., & Paraje, M. G. (2017). Intra- and
          Extracellular Biosynthesis and Characterization of Iron Nanoparticles from Prokaryotic Microorganisms with
          Anticoagulant Activity. Pharmaceutical research, 34(3), 591–598. <a
            href="https://doi.org/10.1007/s11095-016-2084-0">https://doi.org/10.1007/s11095-016-2084-0</a>
          <br>
          [2]. Jacinto, M. J., Silva, V. C., Valladão, D. M. S., & Souto, R. S. (2021). Biosynthesis of magnetic iron
          oxide
          nanoparticles: a review. Biotechnology letters, 43(1), 1–12. <a
            href="https://doi.org/10.1007/s10529-020-03047-0">https://doi.org/10.1007/s10529-020-03047-0</a>
          <br>
          [3]. Fatemi, M., Mollania, N., Momeni-Moghaddam, M., & Sadeghifar, F. (2018). Extracellular biosynthesis of
          magnetic iron oxide nanoparticles by Bacillus cereus strain HMH1: Characterization and in vitro cytotoxicity
          analysis on MCF-7 and 3T3 cell lines. Journal of biotechnology, 270, 1–11.
          <a href="https://doi.org/10.1016/j.jbiotec.2018.01.021">https://doi.org/10.1016/j.jbiotec.2018.01.021</a>
          <br><br>
          <h3>Nanoparticle Separation:</h3>
          [4]. Muraoka, S., Lin, W., Chen, M., Hersh, S. W., Emili, A., Xia, W., & Ikezu, T. (2020). Assessment of
          separation methods for extracellular vesicles from human and mouse brain tissues and human cerebrospinal
          fluids. Methods (San Diego, Calif.), 177, 35–49. <a
            href="https://doi.org/10.1016/j.ymeth.2020.02.002">https://doi.org/10.1016/j.ymeth.2020.02.002</a>
          <br>
          [5]. Sweeney, S. F., Woehrle, G. H., & Hutchison, J. E. (2006). Rapid purification and size separation of gold
          nanoparticles via diafiltration. Journal of the American Chemical Society, 128(10), 3190–3197.
          <a href="https://doi.org/10.1021/ja0558241">https://doi.org/10.1021/ja0558241</a>
          <br>
          [6]. Leong, S. S., Ahmad, Z., Low, S. C., Camacho, J., Faraudo, J., & Lim, J. (2020). Unified View of Magnetic
          Nanoparticle Separation under Magnetophoresis. Langmuir : the ACS journal of surfaces and colloids, 36(28),
          8033–8055. <a
            href="https://doi.org/10.1021/acs.langmuir.0c00839">https://doi.org/10.1021/acs.langmuir.0c00839</a>
          <br>
          [7]. Tian, X., Ruan, L., Zhou, S., Wu, L., Cao, J., Qi, X., Zhang, X., & Shen, S. (2022). Appropriate Size of
          Fe3O4 Nanoparticles for Cancer Therapy by Ferroptosis. ACS applied bio materials, 5(4), 1692–1699.
          <a href="https://doi.org/10.1021/acsabm.2c00068">https://doi.org/10.1021/acsabm.2c00068</a>
          <br><br>
          <h3>Vector Design and Bacteria Strain Selection for Protein Expression:</h3>
          [8]. Ahmadzadeh, M., Farshdari, F., Nematollahi, L., Behdani, M., & Mohit, E. (2020). Anti-HER2 scFv
          Expression
          in Escherichia coli SHuffle®T7 Express Cells: Effects on Solubility and Biological Activity. Molecular
          biotechnology, 62(1), 18–30. <a
            href="https://doi.org/10.1007/s12033-019-00221-2">https://doi.org/10.1007/s12033-019-00221-2</a>

          <br>[9]. Braakman, I., & Bulleid, N. J. (2011). Protein folding and modification in the mammalian endoplasmic
          reticulum. Annual review of biochemistry, 80, 71–99. <a
            href="https://doi.org/10.1146/annurev-biochem-062209-093836">https://doi.org/10.1146/annurev-biochem-062209-093836</a>
          <br>
          [10]. Rashid M. H. (2022). Full-length recombinant antibodies from Escherichia coli: production,
          characterization,
          effector function (Fc) engineering, and clinical evaluation. mAbs, 14(1), 2111748.
          <a href="https://doi.org/10.1080/19420862.2022.2111748">https://doi.org/10.1080/19420862.2022.2111748</a>
          <br>
          [11]. Robinson, M. P., Ke, N., Lobstein, J., Peterson, C., Szkodny, A., Mansell, T. J., Tuckey, C., Riggs, P.
          D.,
          Colussi, P. A., Noren, C. J., Taron, C. H., DeLisa, M. P., & Berkmen, M. (2015). Efficient expression of
          full-length antibodies in the cytoplasm of engineered bacteria. Nature communications, 6, 8072.
          <a href="https://doi.org/10.1038/ncomms9072">https://doi.org/10.1038/ncomms9072</a>
          <br>
          [12]. Schöttler, S., Becker, G., Winzen, S., Steinbach, T., Mohr, K., Landfester, K., Mailänder, V., & Wurm,
          F. R.
          (2016). Protein adsorption is required for stealth effect of poly(ethylene glycol)- and
          poly(phosphoester)-coated nanocarriers. Nature nanotechnology, 11(4), 372–377.
          <a href="https://doi.org/10.1038/nnano.2015.330">https://doi.org/10.1038/nnano.2015.330</a>


          <br><br>
          <h3>Application of IONPs:</h3>

          [13]. Omura T. (1998). Mitochondria-targeting sequence, a multi-role sorting sequence recognized at all steps
          of
          protein import into mitochondria. Journal of biochemistry, 123(6), 1010–1016.
          <a
            href="https://doi.org/10.1093/oxfordjournals.jbchem.a022036">https://doi.org/10.1093/oxfordjournals.jbchem.a022036</a>
          <br>
          [14]. Mout, R., Moyano, D. F., Rana, S., & Rotello, V. M. (2012). Surface functionalization of nanoparticles
          for
          nanomedicine. Chemical Society reviews, 41(7), 2539–2544. <a
            href="https://doi.org/10.1039/c2cs15294k">https://doi.org/10.1039/c2cs15294k</a>
          <br>
          [15]. Nadeem, M., Khan, R., Shah, N., Bangash, I. R., Abbasi, B. H., Hano, C., Liu, C., Ullah, S., Hashmi, S.
          S.,
          Nadhman, A., & Celli, J. (2021). A Review of Microbial Mediated Iron Nanoparticles (IONPs) and Its
          Biomedical Applications. Nanomaterials (Basel, Switzerland), 12(1), 130.
          <a href="https://doi.org/10.3390/nano12010130">https://doi.org/10.3390/nano12010130</a>
          <br>
          [16]. Ali, A., Zafar, H., Zia, M., Ul Haq, I., Phull, A. R., Ali, J. S., & Hussain, A. (2016). Synthesis,
          characterization, applications, and challenges of iron oxide nanoparticles. Nanotechnology, science and
          applications, 9, 49–67. <a href="https://doi.org/10.2147/NSA.S99986">https://doi.org/10.2147/NSA.S99986</a>
          <br><br>
          <h3>NHS-PEG-Maleimide Linkage:</h3>
          [17]. Zhou, H., Fan, Z., Lemons, P. K., & Cheng, H. (2016). A Facile Approach to Functionalize Cell
          Membrane-Coated Nanoparticles. Theranostics, 6(7), 1012–1022. <a
            href="https://doi.org/10.7150/thno.15095">https://doi.org/10.7150/thno.15095</a>
          <br><br>
          <h3>EDC/NHS Linkage:</h3>

          [18]. Saei, A., Asfia, S., Kouchakzadeh, H., & Rahmandoust, M. (2020). Antibody-modified magnetic
          nanoparticles as
          specific high-efficient cell-separation agents. Journal of biomedical materials research. Part B, Applied
          biomaterials, 108(6), 2633–2642. <a
            href="https://doi.org/10.1002/jbm.b.34595">https://doi.org/10.1002/jbm.b.34595</a>
          <br>
          [19]. Hu, F., Chen, K., Xu, H., & Gu, H. (2018). Design and preparation of bi-functionalized short-chain
          modified
          zwitterionic nanoparticles. Acta biomaterialia, 72, 239–247. <a
            href="https://doi.org/10.1016/j.actbio.2018.03.038">https://doi.org/10.1016/j.actbio.2018.03.038</a>
          <br><br>
          <h3>IONPs Antibody Conjugation Method beyond EDC/NHS and NHS-PEG-Maleimide:</h3>

          [20]. Lee, C., & Kang, S. (2021). Development of HER2-Targeting-Ligand-Modified Albumin Nanoparticles Based on
          the
          SpyTag/SpyCatcher System for Photothermal Therapy. Biomacromolecules, 22(6), 2649–2658.
          <a href="https://doi.org/10.1021/acs.biomac.1c00336">https://doi.org/10.1021/acs.biomac.1c00336</a>
          <br>
          [21]. D'Agata, R., Palladino, P., & Spoto, G. (2017). Streptavidin-coated gold nanoparticles: critical role of
          oligonucleotides on stability and fractal aggregation. Beilstein journal of nanotechnology, 8, 1–11.
          <a href="https://doi.org/10.3762/bjnano.8.1">https://doi.org/10.3762/bjnano.8.1</a>
          <br>
          [22]. Ren, W. X., Han, J., Uhm, S., Jang, Y. J., Kang, C., Kim, J. H., & Kim, J. S. (2015). Recent development
          of
          biotin conjugation in biological imaging, sensing, and target delivery. Chemical communications (Cambridge,
          England), 51(52), 10403–10418. <a
            href="https://doi.org/10.1039/c5cc03075g">https://doi.org/10.1039/c5cc03075g</a>
          <br>
          [23]. Hersch, N., Wolters, B., Ungvari, Z., Gautam, T., Deshpande, D., Merkel, R., Csiszar, A., Hoffmann, B.,
          &
          Csiszár, A. (2016). Biotin-conjugated fusogenic liposomes for high-quality cell purification. Journal of
          biomaterials applications, 30(6), 846–856. <a
            href="https://doi.org/10.1177/0885328215603026">https://doi.org/10.1177/0885328215603026</a>
          <br><br>
          <h3>Targeting of IONPs:</h3>
          [24]. Korangath, P., Barnett, J. D., Sharma, A., Henderson, E. T., Stewart, J., Yu, S. H., Kandala, S. K.,
          Yang,
          C. T., Caserto, J. S., Hedayati, M., Armstrong, T. D., Jaffee, E., Gruettner, C., Zhou, X. C., Fu, W., Hu,
          C., Sukumar, S., Simons, B. W., & Ivkov, R. (2020). Nanoparticle interactions with immune cells dominate
          tumor retention and induce T cell-mediated tumor suppression in models of breast cancer. Science advances,
          6(13), eaay1601. <a href="https://doi.org/10.1126/sciadv.aay1601">https://doi.org/10.1126/sciadv.aay1601</a>
          <br>
          [25]. Juan, A., Cimas, F. J., Bravo, I., Pandiella, A., Ocaña, A., & Alonso-Moreno, C. (2020). Antibody
          Conjugation of Nanoparticles as Therapeutics for Breast Cancer Treatment. International journal of molecular
          sciences, 21(17), 6018. <a
            href="https://doi.org/10.3390/ijms21176018">https://doi.org/10.3390/ijms21176018</a>
          <br>
          [26]. Toporkiewicz, M., Meissner, J., Matusewicz, L., Czogalla, A., & Sikorski, A. F. (2015). Toward a magic
          or
          imaginary bullet? Ligands for drug targeting to cancer cells: principles, hopes, and challenges.
          International journal of nanomedicine, 10, 1399–1414. <a href="https://doi.org/10.2147/IJN.S74514"></a>
          <br>
          [27]. Chen, H., Wang, L., Yu, Q., Qian, W., Tiwari, D., Yi, H., Wang, A. Y., Huang, J., Yang, L., & Mao, H.
          (2013). Anti-HER2 antibody and ScFvEGFR-conjugated antifouling magnetic iron oxide nanoparticles for
          targeting and magnetic resonance imaging of breast cancer. International journal of nanomedicine, 8,
          3781–3794. <a href="https://doi.org/10.2147/IJN.S49069">https://doi.org/10.2147/IJN.S49069</a>


          <br><br>
          <h3>Antibody Affinity Assessment:</h3>

          [28]. Ren, W. X., Han, J., Uhm, S., Jang, Y. J., Kang, C., Kim, J. H., & Kim, J. S. (2015). Recent development
          of
          biotin conjugation in biological imaging, sensing, and target delivery. Chemical communications (Cambridge,
          England), 51(52), 10403–10418. <a
            href="https://doi.org/10.1039/c5cc03075g">https://doi.org/10.1039/c5cc03075g</a>
          <br><br>
          <h3>Drug Delivery:</h3>
          [29]. Chen, H., Wang, L., Yu, Q., Qian, W., Tiwari, D., Yi, H., Wang, A. Y., Huang, J., Yang, L., & Mao, H.
          (2013). Anti-HER2 antibody and ScFvEGFR-conjugated antifouling magnetic iron oxide nanoparticles for
          targeting and magnetic resonance imaging of breast cancer. International journal of nanomedicine, 8,
          3781–3794. <a href="https://doi.org/10.2147/IJN.S49069">https://doi.org/10.2147/IJN.S49069</a>
          <br>
          [30]. Kovach, A. K., Gambino, J. M., Nguyen, V., Nelson, Z., Szasz, T., Liao, J., Williams, L., Bulla, S., &
          Prabhu, R. (2016). Prospective Preliminary In Vitro Investigation of a Magnetic Iron Oxide Nanoparticle
          Conjugated with Ligand CD80 and VEGF Antibody As a Targeted Drug Delivery System for the Induction of Cell
          Death in Rodent Osteosarcoma Cells. BioResearch open access, 5(1), 299–307.
          <a href="https://doi.org/10.1089/biores.2016.0028">https://doi.org/10.1089/biores.2016.0028</a>
          <br>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="{{ url_for('static', filename = 'description.js') }}"></script>
<script src="{{ url_for('static', filename = 'engineering.js') }}"></script>
{% endblock %}