{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'description.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image" style="background:linear-gradient(
      110deg,
      #6fd7d0 0%,
      #96daf7 32%, 
      #66bfe5 57%, 
      rgba(0, 76, 197, 0.8) 100%
  )">
  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Project Description</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
              Describe how and why you chose your iGEM project.
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--图表-->
<div id="ChartExample" style="width:600px; height:400px; margin:auto"></div>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('ChartExample'));

  // 指定图表的配置项和数据
  var option = {
    title: {
      text: 'ECharts 入门示例'
    },
    tooltip: {},
    legend: {
      data: ['销量']
    },
    xAxis: {
      data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
    },
    yAxis: {},
    series: [
      {
        name: '销量',
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
      }
    ]
  };
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>
<h1 align="center">
  <span
  style="background-color: rgb(232,250,248);  
  padding: 0px 10px;margin-bottom: 0px;border-radius: 20px; font-size: xx-large;">
  Background</span>
</h1>
<div id="wrapper">
  <div id="content">
    <div class="spacer"></div>
    <div class="accordions">
      <div class="accordion gaspcol">
        <div class="title">
          Current Status of Cancer, with a Focus on Breast Cancer
        </div>
        <div class="text">
          Cancer continues to be a global health concern, with breast cancer
          ranking among the most prevalent and life-threatening malignancies
          worldwide. The increasing incidence of breast cancer underscores the
          urgent need for innovative treatment strategies. In the public data
          from World Health Organization (WHO), breast cancer tops the list
          as the most commonly diagnosed cancer worldwide and claims
          a significant number of lives.
          <br> 
          <div align="center"><img
            src="https://static.igem.wiki/teams/4702/wiki/description/description-background.png"
            style="width:100%" alt="Estimated age-standardized incidence and mortality rates (World) in 2020, World, both sexes, all ages
            (excl.NMSC)">
          <p><b>Figure 1.</b> Estimated age-standardized incidence and mortality rates (World) in 2020, World, both sexes, all ages
            (excl.NMSC).</p>
        </div>
          <br><br> Breast cancer is a heterogeneous disease characterized by
          the uncontrolled growth of cells in the breast tissue. It is the
          most common cancer among women, with a significant impact on their
          health and quality of life. Advances in early detection and treatment
          have improved survival rates, but challenges persist, including late-stage
          diagnoses and resistance to conventional therapies.
          <br><br>The global burden of breast cancer is substantial,
          with millions of new cases diagnosed annually. Geographical
          disparities in incidence and mortality rates emphasize the
          importance of tailored approaches to prevention, diagnosis,
          and treatment. Breast cancer awareness, research, and healthcare
          infrastructure play pivotal roles in addressing this global challenge.
          <br>
        </div>
      </div>
      <div class="accordion gaspcol">
        <div class="title">Current Problems in Treating Breast Cancer</div>
        <div class="text">
          <div align="center"><img
            src="https://static.igem.wiki/teams/4702/wiki/description/description-background2.png"
            style="width:100%" alt="Current Treatment towards Breast Cancer">
          <p><b>Figure 2.</b> Current Treatment towards Breast Cancer.</p>
        </div>
          Treating breast cancer remains a complex and multifaceted
          challenge, despite significant advancements in the field
          of oncology. Several current problems and challenges
          persist in the treatment of breast cancer:
          <br><br>
          <b style="font-size: large;">Late-stage Diagonsis</b><br>
          One of the most significant challenges is the late-stage
          diagnosis of breast cancer. Many patients are diagnosed
          when the disease has already reached an advanced stage,
          reducing treatment options and overall survival rates.
          Enhancing early detection methods and improving breast
          cancer screening programs are essential to address this issue.
          <br><br>
          <b style="font-size: large;">Tumor Heterogeneity</b><br>
          Breast cancer is not a single disease but a heterogeneous
          group of diseases with varying molecular subtypes. Each
          subtype may require different treatment strategies.
          Tailoring treatments to the specific subtype of breast
          cancer is crucial for optimizing outcomes, but this can
          complicate treatment decision-making.
          <br><br>
          <b style="font-size: large;">Resistance to Therapy</b><br>
          Resistance to therapy, whether it's chemotherapy, hormonal
          therapy, or targeted therapy, remains a significant concern.
          Breast cancer cells can develop resistance to treatment over
          time, leading to disease progression. Researchers are
          actively studying the mechanisms of resistance to develop
          more effective therapies.
          <br><br>
          <b style="font-size: large;">Toxicity and Side Effects</b><br>
          Toxicity and Side Effects: Breast cancer treatments, including
          chemotherapy and radiation therapy, can cause severe side
          effects and toxicity. These side effects can impact a patient's
          quality of life and sometimes result in treatment interruptions
          or discontinuations. Finding ways to minimize side effects
          while maintaining treatment efficacy is an ongoing challenge.
          <br><br>
          <b style="font-size: large;">Cost of Treatment</b><br>
          Breast cancer treatment can be expensive, and the financial
          burden can be overwhelming for patients and their families.
          Access to innovative therapies and adequate insurance coverage
          remains a concern, and addressing the cost of cancer care is
          crucial for improving patient outcomes and reducing disparities in care.
        </div>
      </div>
      <div class="accordion gaspcol">
        <div class="title">Current Status of Iron Oxide Nanoparticle Synthesis</div>
        <div class="text">
          Iron oxide nanoparticles have emerged as versatile materials with promising
          applications in the medical field,. The synthesis of these nanoparticles
          can be categorized into three main approaches: physical synthesis, chemical
          synthesis, and biological synthesis,
          each with its own set of advantages and disadvantages.
          <br><br>
          <b style="font-size: large;">Physical Synthesis</b><br>
          Historically, physical synthesis methods have been employed to produce
          iron oxide nanoparticles. These methods involve high-temperature processes
          such as thermal decomposition and laser ablation. While physical synthesis
          techniques yield nanoparticles with excellent crystallinity and controlled
          size distribution, they often suffer from limited scalability and can require
          harsh reaction conditions, which may not be ideal for medical applications.
          <br><br>
          <b style="font-size: large;">Chemical Synthesis</b><br>
          Chemical synthesis techniques, such as co-precipitation and solvothermal
          methods, have become more prevalent due to their scalability and relative
          simplicity. These methods enable the fine-tuning of nanoparticle properties
          like size, shape, and surface functionalization. However, they may introduce
          impurities and require the use of toxic reagents, raising concerns about
          biocompatibility for medical use. Also the chemical synthesis process requires
          toxic or harmful reagents, which may augment the environmental concerns.
          <br><br>
          <b style="font-size: large;">Biological Synthesis</b><br>
          The advent of biological synthesis methods has garnered considerable
          interest in recent years. Utilizing microorganisms, plants, or
          biomolecules, this approach offers eco-friendly and biocompatible
          routes to produce iron oxide nanoparticles. Biologically synthesized
          nanoparticles often exhibit excellent biocompatibility and can be
          tailored for specific medical applications. However, the control over
          size and shape can be more challenging compared to chemical methods.
        </div>
      </div>
      <div class="accordion gaspcol">
        <div class="title">Application of Iron Oxide Nanoparticles in Medical Field Currently</div>
        <div class="text">
          In the medical field, iron oxide nanoparticles have found several potential
          applications, including but not limited to:
          <br><br>
          <b style="font-size: large;">Magnetic Resonance Imaging (MRI)</b><br>
          Iron oxide nanoparticles are utilized as contrast agents in MRI scans due to
          their magnetic properties, aiding in the detection and characterization of cancerous lesions.
          <br><br>
          <b style="font-size: large;">Drug Delivery</b><br>
          Their surface properties and unique ability for agent design
          allow for the attachment of therapeutic agents,
          facilitating targeted drug delivery to cancer cells while minimizing systemic side effects.
          <br><br>
          <b style="font-size: large;">Hyperthermia Treatment</b><br>
          Iron oxide nanoparticles can generate heat when exposed to an alternating
          magnetic field, making them suitable for hyperthermia therapy, where cancer
          cells are selectively heated and destroyed.
          <br><br>
          <b style="font-size: large;">..............................</b><br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flowchart">
  <h2 style="text-align: center;">Our Experiment Flow Chart</h2>
  <hr style="
  text-align: center;
    width: 10%;
    margin-left:auto;
    margin-right:auto;">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>Biosynthesis of IONPs and Separation</time>
          Genetically edited <i>E. coli</i> is used to synthesize Iron Oxide Nanoparticles (IONPs) by adding
          Fe<sup>3+</sup> for induction.
          <br>After leaving the system in shaker for 1-2 days, the IONPs are separated from the culture by
          untrasonification and filtration method designed and tested by us own.
          <br>The success of the synthetic process were verified by TEM and DLS analysis.
        </div>
      </li>
      <li>
        <div>
          <time>Biosynthesis of anti HER2 scFv domain and Purification</time>
          Here, several vectors contain the scFv domain of anti HER2 antibody and the functional groups
          for linkage and separation are designed by us. Then, the vectors are transformed into SHuffle strain
          <i>E. coli</i> for protein expression and folding.
          <br>After the expression, the protein is purified by His-trap column and
          the success of the purification is verified by SDS-PAGE.
        </div>
      </li>
      <li>
        <div>
          <time>Linking IONPs and Antibody Together</time>
          Since now we had the IONPs and the scFv domain of anti HER2 antibody, we need to link them together.
          <br>In total two methods are optimized and used by us, one is the direct linkage between the carboxyl
          group on the nanoparticle and the amine group on the antibody, which is done with the help of
          EDC/NHS to have a milder reaction condition.
          <br>For the other one, the carboxyl group on the nanoparticle and the thiol group on the
          antibody are used for linkage through NHS-PEG-Maleimide. For better result, in our vector design,
          one group with a cystine added before and after the polyhis tag is added to the antibody. This way, the
          antibody can be linked to the nanoparticle without affecting its binding domain too much.
          <br>To better verify the linking method, positive control using chemically synthesized IONPs with citric
          acid coating were used for the linkage.
        </div>
      </li>
      <li>
        <div>
          <time>Cell Experiment for Antibody Affinity Verification and Cytotoxicity Examination</time>
          To this stage, we had the IONPs with the antibody linked to it. Multiple controlled experiment
          were conducted to verify the affinity of the antibody to the HER2 receptor and the
          cytotoxicity of the IONPs. Confocal analysis and flow cytometry were used for visualization of
          the antibody affinity. And CCK-8 assay was used for the cytotoxicity examination.
        </div>
      </li>
    </ul>
  </section>
</div>

<div class="row mt-4">
  <div class="col-lg-12">
    <h2>Project</h2>
    <hr>
    <p>Biosynthesis and Applications of magnetic iron nanoparticles</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-12">
    <h2>Description</h2>
    <hr>
    <p>Biogenic synthesis of nanomaterials is the process of synthesizing and assembling nanoparticles using
      biomolecules, enzymes, and microorganisms found within living organisms. It offers advantages such as
      environmental friendliness, low cost, scalability, and controllable structural properties. In current research
      both domestically and internationally, microorganisms such as bacteria, fungi, and algae are utilized to reduce
      metal ions into metal nanoparticles through metabolic pathways and enzymatic reactions. The size, shape, and
      structure of the nanoparticles can be controlled by manipulating the conditions and environment within the
      organisms. For instance, microorganisms like Escherichia coli, lactobacilli, and yeast have been widely employed
      in the biogenic synthesis of nanoparticles.
      <br>
      Magnetic iron oxide nanoparticles (IONPs) hold significant potential in various fields such as magnetic
      separation, hyperthermia, targeted drug delivery, and catalysis, due to their biocompatibility and excellent
      targeting capabilities. They are currently the only nanomaterials that have undergone clinical trials. However,
      the synthesis of IONPs currently relies mainly on chemical methods, and exploring biogenic synthesis methods for
      IONPs is of great significance. The key breakthrough in overcoming the bottleneck of biogenic synthesis of IONPs
      lies in the exploration of high iron-tolerant bacteria that can be cultivated on a scalable level. This has been
      the primary focus of researchers for many years. Recently, with a deeper understanding of the iron reduction
      pathway, we plan to isolate iron-tolerant bacterial strains from soil samples, explore their enzyme systems
      through genetic sequencing, and then genetically modify Escherichia coli to enhance its tolerance to iron-rich
      environments. This will allow us to obtain a bacterial strain capable of efficiently producing IONPs.
      Additionally, we aim to mutate the Escherichia coli population and screen for strains that are even more tolerant
      to iron salt environments, further enhancing the bacterium's ability to biogenically synthesize IONPs.
      <br>
      Building upon these foundations, we also intend to explore the use of biogenic synthesis methods for producing
      functional protein-modified IONPs. By expressing the functional domain of trastuzumab (BH), a monoclonal antibody,
      in Escherichia coli and directly coupling it with the synthesized IONPs, we can obtain functional nanomaterials
      suitable for breast cancer therapy.
    </p>
  </div>

</div>


<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Describe how and why you chose your iGEM project.
      <p>
        <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.
      </p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark/description">2022 DTU-Denmark</a></li>
      <li><a href="https://2019.igem.org/Team:ITESO_Guadalajara/Description">2019 ITESO Guadalajara</a></li>
      <li><a href="https://2020.igem.org/Team:Technion-Israel/Description">2020 Technion Israel</a></li>
      <li><a href="https://2020.igem.org/Team:Botchan_Lab_Tokyo/Description">2020 Botchan Lab Tokyo</a></li>
      <li><a href="https://2020.igem.org/Team:St_Andrews/Description">2020 St Andrews</a></li>
      <li><a href="https://2020.igem.org/Team:MIT/Description">2020 MIT</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Some advice</h2>
    <hr>
    <p>We encourage you to put up a lot of information and content on your wiki, but we also encourage you to include
      summaries as much as possible. If you think of the sections in your project description as the sections in a
      publication, you should try to be concise, accurate, and unambiguous in your achievements. Your Project
      Description should include more information than your project abstract.</p>
  </div>
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>iGEM teams are encouraged to record references you use during the course of your research. They should be posted
      somewhere on your wiki so that judges and other visitors can see how you thought about your project and what works
      inspired you.</p>
  </div>
</div>
<script src="{{ url_for('static', filename = 'description.js') }}"></script>
{% endblock %}