{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" style="background:linear-gradient(
      110deg,
      #6fd7d0 0%,
      #96daf7 32%, 
      #66bfe5 57%, 
      rgba(0, 76, 197, 0.8) 100%
  )">
  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light" style="font-size:70px;">Project Description</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
              Describe how and why you chose your iGEM project.
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row mt-4">
  <div class="col-lg-12">
    <h2>Project</h2>
    <hr>
    <p>Biosynthesis and Applications of magnetic iron nanoparticles</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-12">
    <h2>Description</h2>
    <hr>
    <p>Biogenic synthesis of nanomaterials is the process of synthesizing and assembling nanoparticles using
      biomolecules, enzymes, and microorganisms found within living organisms. It offers advantages such as
      environmental friendliness, low cost, scalability, and controllable structural properties. In current research
      both domestically and internationally, microorganisms such as bacteria, fungi, and algae are utilized to reduce
      metal ions into metal nanoparticles through metabolic pathways and enzymatic reactions. The size, shape, and
      structure of the nanoparticles can be controlled by manipulating the conditions and environment within the
      organisms. For instance, microorganisms like Escherichia coli, lactobacilli, and yeast have been widely employed
      in the biogenic synthesis of nanoparticles.
      <br>
      Magnetic iron oxide nanoparticles (IONPs) hold significant potential in various fields such as magnetic
      separation, hyperthermia, targeted drug delivery, and catalysis, due to their biocompatibility and excellent
      targeting capabilities. They are currently the only nanomaterials that have undergone clinical trials. However,
      the synthesis of IONPs currently relies mainly on chemical methods, and exploring biogenic synthesis methods for
      IONPs is of great significance. The key breakthrough in overcoming the bottleneck of biogenic synthesis of IONPs
      lies in the exploration of high iron-tolerant bacteria that can be cultivated on a scalable level. This has been
      the primary focus of researchers for many years. Recently, with a deeper understanding of the iron reduction
      pathway, we plan to isolate iron-tolerant bacterial strains from soil samples, explore their enzyme systems
      through genetic sequencing, and then genetically modify Escherichia coli to enhance its tolerance to iron-rich
      environments. This will allow us to obtain a bacterial strain capable of efficiently producing IONPs.
      Additionally, we aim to mutate the Escherichia coli population and screen for strains that are even more tolerant
      to iron salt environments, further enhancing the bacterium's ability to biogenically synthesize IONPs.
      <br>
      Building upon these foundations, we also intend to explore the use of biogenic synthesis methods for producing
      functional protein-modified IONPs. By expressing the functional domain of trastuzumab (BH), a monoclonal antibody,
      in Escherichia coli and directly coupling it with the synthesized IONPs, we can obtain functional nanomaterials
      suitable for breast cancer therapy.
    </p>
  </div>

</div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Describe how and why you chose your iGEM project.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark/description">2022 DTU-Denmark</a></li>
      <li><a href="https://2019.igem.org/Team:ITESO_Guadalajara/Description">2019 ITESO Guadalajara</a></li>
      <li><a href="https://2020.igem.org/Team:Technion-Israel/Description">2020 Technion Israel</a></li>
      <li><a href="https://2020.igem.org/Team:Botchan_Lab_Tokyo/Description">2020 Botchan Lab Tokyo</a></li>
      <li><a href="https://2020.igem.org/Team:St_Andrews/Description">2020 St Andrews</a></li>
      <li><a href="https://2020.igem.org/Team:MIT/Description">2020 MIT</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Some advice</h2>
    <hr>
    <p>We encourage you to put up a lot of information and content on your wiki, but we also encourage you to include summaries as much as possible. If you think of the sections in your project description as the sections in a publication, you should try to be concise, accurate, and unambiguous in your achievements. Your Project Description should include more information than your project abstract.</p>
  </div>
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>iGEM teams are encouraged to record references you use during the course of your research. They should be posted somewhere on your wiki so that judges and other visitors can see how you thought about your project and what works inspired you.</p>
  </div>
</div>

{% endblock %}
