{% extends "layout.html" %}

{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the
engineering design cycle.{% endblock %}

{% block page_content %}
<link href="{{ url_for('static', filename = 'engineering.css') }}" rel="stylesheet">

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image: url('https://static.igem.wiki/teams/4702/wiki/engineering/cover4.png');background-size:cover">
  <section class=" col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Engineering Success</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="col-12">
  <section id="features"><h1 class=" mx-auto text-center" style="font-size: 56px;"> 
    <span style="background-color: rgb(232,250,248); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">
      Overview</span>
  </h1>
  <hr class="hr-ani">
    <div class="features-inner">
      <!-- Digital XRays-->
      <div class="row pb-5 gx-0">
        <div class="offset-md-1 col-10 features-group has-animation animation-rtl">
          <div class="features-text">
            <p>Since the target of our project is to synthesize the Iron Oxide Nanoparticles using biological method and
              achieve specific targeting towards the breast cancer cell, we designed four different plasmid expressing
              the carefully selected scFv domain of anti-HER2 antibody and the specific functional domain to enable the
              purification and conjugation of the antibody, specific
              bacteria strain was selected to ensure the proper folding of the antibody.
              <br><br>For the future work, when the coating composition of the iron oxide nanoparticles is better
              determined and the synthetic mechanism of IONPs is better understood, designs of the plasmid can be
              further optimized to enabling the expression termial of antibody to be the same site as IONPs, along with
              addition of functional groups in the plasmid design, self assembly of the antibody and IONPs may become
              possible, which will greatly improve the efficiency for large scale prodection.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12  features-group has-animation animation-rtl" style="overflow-x:hidden;width:84%;margin-left:8%">
        <img src="https://static.igem.wiki/teams/4702/wiki/engineering/layout-2.jpg" width="100%">
      </div>

      <h1 class=" mx-auto text-center" style="font-size: 56px;"> 
        <span style="background-color: rgb(232,250,248); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">
          Design and Build</span>
      </h1>
      <hr class="hr-ani">
      <div class="row pb-5 gx-0" >
        <div class="offset-md-1 col-10 features-group has-animation animation-rtl"style="margin-bottom:0px;">
          <div class="features-image"><img src="https://static.igem.wiki/teams/4702/wiki/engineering/e-coli-2.png"
              width="100%">
          </div>
          <div class="features-text">
            <h1><i>E. coli</i> Strain Adoption</h1>
            <p>Antibodies were required to achieve our goal to target cancer cells. We managed to synthesize antibodies
              in
              <i>E. coli</i> by constructing, inducing external plasmids to express desired antibodies and took
              advantage of its low cost,
              simplicity, and high yield.
              However, it was not easy to validly express an eukaryotic gene in a prokaryotic cell due to its simpler
              inner cell structure, lacking of endoplasmic reticulum and Golgi apparatus, which were crucial
              to processing protein. These deficiencies might lead to incorrect structural features of antibodies.
              Besides, in wild type strain of <i>E. coli</i>, the reducing cytoplasm would cause the formation of
              inclusion
              bodies,
              a kind of abnormal structure.
              Considering that oxidizing environment was important to form disulfide bond, which was indispensable
              for the biological activity of antibodies. To ensure antibody validity, we therefore adopted SHuffle
              strain
              of <i>E. coli</i>, whose cytoplasm was semi-oxidizing, facilitating successful expression of biologically
              active
              antibodies in <i>E. coli</i>.
            </p>
          </div>
        </div>
        <div class="col-1  d-flex justify-content-center">
          <div class="rbar"></div>
        </div>
      </div>
      <!-- Dental Cleanings-->
      <div class="row pb-5 gx-0">

        <div class="col-1  d-flex justify-content-center">
          <div class="lbar"></div>
        </div>
        <div class="col-10 features-group has-animation animation-ltr">
          <div class="features-image inverted "><img
              src="https://static.igem.wiki/teams/4702/wiki/engineering/antibody-type-adoption.png" width="100%" />
          </div>
          <div class="features-text inverted">
            <h1>Antibody Type Adoption</h1>
            <p>In consideration of relatively small size of our iron-oxide nanoparticles, to ensure the binding
              efficiency
              between antibodies and nanoparticles, full-length recombinant antibodies might not be a decent option
              because of their large size, which had the potential to lead to steric hinderance, and furthermore to
              restrict the binding efficiency. Single-chain variable fragments (scFv) was composed of variable regions
              of
              heavy (V<sub>H</sub>) and light (V<sub>L</sub>) chains of immunoglobulins, linked via a flexible short peptide linker. Its lack
              of
              Fc domain enabled itself to possess a smaller size, which reduced the possibility of steric hinderance
              issue
              to happen. Besides, due to scFv's structural simplicity compared to full-length recombinant antibodies,
              the
              probability of incorrect folding dramatically decreased since slight changes would be applied on the scFv,
              since we were aiming to link it on our iron-oxide nanoparticles.</p>
          </div>
        </div>
      </div>
      <div class="row pb-5 gx-0">

        <div id="vector-engineering" class="offset-md-1 col-10 features-group has-animation animation-rtl"
          style="padding-bottom: 0px;margin-bottom:0px">
          <div class="features-image"><img
              src="https://static.igem.wiki/teams/4702/wiki/engineering/plasmid-contruction.jpg" width="60%">
          </div>
          <div class="features-text" style="padding-bottom:0;">
            <h1>General Idea for Plasmid Construction</h1>
            <p>To fulfill successful expression of antibodies, plasmid construction was a crucial part. Focusing on
              breast
              cancer, we selected HER2 as our targeting site. The pGLO plasmid we used had been verified to be able to
              express protein since the expressed green-fluorescent protein (GFP) was visible to naked human eyes.
              <br>It was plausible that our antibodies could also be expressed since we only altered the protein-coding
              region. Therefore, we replaced the original protein coding gene with anti-HER2 scFv coding gene. The
              coding gene was derived by protein-DNA sequence conversion optimization, in frame with 6x His-tag to
              detect and also purify the expressed protein.
            </p>
            <hr>
          </div>
        </div>
        <div class="col-1  d-flex justify-content-center">
          <div class="rbar" style="margin-bottom:0;"></div>
        </div>
        <div class="col-1  d-flex justify-content-center" style="padding-bottom:128px;">
          <div class="lbar"></div>
        </div>
        <!--another part-->
        <div class="col-10 features-group has-animation animation-ltr"
          style="padding-top:0px;margin-top:0px;margin-bottom:0;">
          <div class="features-image inverted"><img
              src="https://static.igem.wiki/teams/4702/wiki/engineering/layout-1-three-vector-design-by-mal-linking.jpg"
              width="105%">
          </div>
          <div class="features-text inverted" style="margin-bottom:0px">
            <h2>Specific Design in Plasmid Construction for NHS-PEG-Maleimide Conjugation</h2>
            <p>
              Beyond the elaborate design above, several other designs for better fit of NHS-PEG-Maleimide conjugation
              using the thiol group were also prepared.<br><br>
              In the first one, three codons coding cysteine were added between the end of anti-HER2 scFv gene and the
              head
              of His-tag coding gene. The intention of the addition of the cysteine at this position was to provide a
              free thiol group for maleimide-modified iron-oxide nanoparticles to bind, while without the interference
              of biological activity of anti-HER2 scFv and capacity of being purified of His-tag. The cloning of this
              modified anti-HER2 scFv gene was achieved through seamless cloning technology.
              <br><br>The second one was to move the added cysteine to the end of the His-tag, which might have the
              effect to
              enhance the binding activity of thiol group on the cysteine.
            </p>
            <hr>
          </div>
        </div>
        <!--third part-->
        <div class="offset-md-1 col-10 features-group has-animation animation-rtl"
          style="padding-top:0px;margin-top:0px">
          <div class="features-image"><img src="https://static.igem.wiki/teams/4702/wiki/engineering/20231010204848.jpg"
              width="100%">
          </div>
          <div class="features-text" style="padding-top:0px">
            <h2>Specific Design in Plasmid Construction for Streptavidin-Biotin Conjugation</h2>
            <p>
              As the Streptavidin-Biotin linkage is a very strong interaction in nature, we also had a vector design
              trying to utilize this binding effect. <br>By combining the scFv, streptavidin, and His tag into a single
              plasmid, we can leverage the advantages of each component to enhance our research and development efforts.
              The scFv provides us with a highly specific and versatile antibody fragment, capable of recognizing
              various targets of interest. Streptavidin, on the other hand, offers a strong and stable interaction with
              biotinylated nanoparticles, allowing for efficient targeting and delivery. Lastly, the His tag serves as a
              well-established purification tag, enabling rapid and reliable protein purification using affinity
              chromatography.
            </p>
          </div>
        </div>
        <div class="col-1  d-flex justify-content-center">
          <div class="rbar"></div>
        </div>
      </div>

      <h1 class=" mx-auto text-center" style="font-size: 56px;">
        <span style="background-color: rgb(232,250,248); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">
          Test</span>
      </h1>
      <hr class="hr-ani">
      <div class="row pb-5 gx-0">
        <div class="offset-md-1 col-10 features-group has-animation animation-rtl">
          <div class="features-image"><img
              src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/engineering/engineering-test.jpg"
              width="100%">
          </div>
          <div class="features-text">
            <h1>Test Results of Our Plasmids</h1>
            <p>
              We introduced our plasmids into <i>E. coli</i> respectively and induced them to express the protein. The
              results showed that except for the scFV-streptavidin-his protein was found to be in the inclusion body,
              all other types of the protein was successfully expressed and purified and gave a satisfying concentration
              around 1-5 mg/ml after solution displacement to storage buffer.
              <br>Then, We conducted the experiment of linking the antibody to the chemically synthesized Iron Oxide
              Nanoparticles, comparing to the chemically synthesized Iron Oxide Nanoparticles without antibody addition,
              the cytotoxicity of the group with antibody linkage treatment was higher than the group without the
              linkage process, indirectly indicating partial bioactivity of the scFv protein.
              <br>And the detailed result of our experiment could be found in our <a
                href="https://2023.igem.wiki/westlake-china/results">
                result page</a>, especially the cytotoxicity test result and protein purification result.
            </p>
          </div>
        </div>
        <div class="col-1  d-flex justify-content-center">
          <div class="rbar"></div>
        </div>
      </div>

      <h1 class=" mx-auto text-center" style="font-size: 56px;">
        <span style="background-color: rgb(232,250,248); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">
          Future</span>
      </h1>

      <div class="row pb-5 gx-0">
        <div class="offset-md-1 col-10 features-group has-animation animation-rtl">
          <div class="features-image"><img
              src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/e310b35721f23d15526cc50af17868d.png"
              width="100%">
          </div>
          <div class="features-text">
            <h1>Future from Our Tests and Other Prospects</h1>
            <p>
              For the results of our tests, one thing we could do for the alternative of the scFv-streptavidin-his
              design is to remove the streptavidin in the design but using chemical method to link the biotin to the 
              antibody, and then link the biotinylated antibody to the avidin linked iron oxide nanoparticles.
              <br>
              One promising direction for future work is to optimize the design of plasmids to enable the expression
              terminal of antibodies to be located at the same site as the IONPs. This strategic modification would
              facilitate the self-assembly of antibodies and IONPs if the process is made possible in the future,
              potentially leading to more efficient and targeted
              delivery systems. By incorporating functional groups into the plasmid design, we could enhance
              the binding affinity between the antibodies and IONPs, thereby improving the overall performance of the
              nanocomplex.
              <br>
              The successful self-assembly of antibodies and IONPs holds great potential for large-scale production.
              With this advancement, we could streamline the manufacturing process and significantly increase
              the efficiency of nanoparticle production. Additionally, the ability to self-assemble the components may
              offer new opportunities for tailoring the properties of the nanocomplex, such as controlling the release
              kinetics of drugs or enabling specific interactions with biological targets.
              <br>
              The present development in biologically synthesized IONPs offers promising avenues for future research. By
              further refining the coating composition, understanding the synthetic mechanism, and optimizing plasmid
              design, scientists are paving the way for improved efficiency, stability, and functionality of these
              nanoparticles. Ultimately, these advancements hold great potential for revolutionizing various fields,
              including targeted drug delivery, biomedical imaging, and therapeutics.
            </p>
          </div>
        </div>
        <div class="col-1  d-flex justify-content-center">
          <div class="rbar"></div>
        </div>
      </div>


    </div>
  </section>
</div>

<script src="{{ url_for('static', filename = 'engineering.js') }}"></script>
{% endblock %}