{% extends "layout.html" %}

{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an
iGEM project.{% endblock %}

{% block page_content %}

<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'entrepreneurship.css') }}" rel="stylesheet">
<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image" style="background:linear-gradient(
      110deg,
      #6fd7d0 0%,
      #96daf7 32%, 
      #66bfe5 57%, 
      rgba(0, 76, 197, 0.8) 100%
  )">
  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Entrepreneurship</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--sidebar-->
<div class="row" style="padding-bottom: 150px;">
  <div id="sidebar" class=" ol-md-3  sidebar  flex-column flex-shrink-0 p-3  ">
    <hr class="hr-ani">
    <ul class="navigation nav nav-pills flex-column mb-auto">
      <li>
        <a href="#1" class="nav-link">
          Summary
        </a>
      </li>
      <li>
        <a href="#2" class="nav-link">
          Customer Analysis
        </a>
      </li>
      <li>
        <a href="#3" class="nav-link">
          Market Analysis
        </a>
      </li>
      <li>
        <a href="#4" class="nav-link">
          Cost Analysis
        </a>
      </li>
      <li>
        <a href="#5" class="nav-link">
          Future Plans
        </a>
      </li>
      <li>
        <a href="#6" class="nav-link">
          References
        </a>
      </li>
    </ul>
    <hr class="hr-ani">
  </div>
  <div class="mp-content offset-md-2 col-md-9 col-lg-9 ">
    <div id="1" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Summary</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-10">
              <p>What we want to launch on the market is the iron-oxide nanoparticle mediated precise drug delivery
                technique. It can help pharmaceutical companies to increase the efficiency of their drugs and decrease
                the
                side effects of their drugs to normal tissues. <br>We have discussed about our project with Chengyong
                Du, a
                doctor in hospital; Haihua Xiao, a researcher in ICCAS; Yiran Cai, assistant to the president of
                Westlake
                Pharmaceutical and have got their recognition. Some discussion between them and us is shown on the
                right. <br>The
                entrepreneurship could be mainly divided into these parts: Customer analysis, Market analysis, Cost
                analysis, Research procedure analysis and Future plans.</p>
            </div>
            <div class="col-lg-2  " style="justify-content: space-around;">
              <div class=" box green" style="margin:10px 0px;"> <button class="custom-btn btn-8"><a
                    href="{{url_for('pages', page='human-practices', _anchor='Chengyong')}}"><span>Chengyong
                      Du</span></a></button></div>
              <div class=" box green" style="margin:10px 0px;"> <button class="custom-btn btn-8"><a
                    href="{{url_for('pages', page='human-practices', _anchor='Haihua')}}"><span>Haihua
                      Xiao</span></a></button></div>
              <div class=" box green" style="margin:10px 0px;"> <button class="custom-btn btn-8"><a
                    href="{{url_for('pages', page='human-practices', _anchor='Yiran')}}"><span>Yiran
                      Cai</span></a></button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="2" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Customer
            Analysis</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <p>Our main customer is large pharmaceuticals companies with more than 5000 formal staffs. <br>They should
            have
            the need of increasing their drugs' accuracy or decreasing the side effects of their drugs and want to
            achieve this by cooperating with other companies. <br>They should also have the ability of providing more
            than
            100000$ per year to support the drug-load test and pre-clinical research for the iron oxide core
            nanoparticle complex loaded with their target drug.<br> Moreover, their drugs needed to be loaded in the
            complex
            should pass the rules set in the Chinese pharmacopoeia which means the drugs can circulate in Chinese
            pharmaceutical market. <br>Finally, they should agree with our safety and moral standards mentioned in our
            safety and responsibility format and follow them all over the cooperating process.</p>
        </div>
      </div>
    </div>
    <div id="3" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class="mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Market
            Analysis</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <h3> Market scale analysis</h3>
          <hr>
          <p>
            Our product is only sold in China which has 1.4 billion people. The table below is the content of
            the
            market scale analysis. (The definition of unit product is mentioned in cost analysis part.)</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Step</th>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>People in China</td>
                <td>1.4Billioin</td>
              </tr>
              <tr>
                <td>2</td>
                <td>In the need of using precise targeting drugs per people per year</td>
                <td>0.05</td>
              </tr>
              <tr>
                <td>3</td>
                <td>The percentage of drugs mentioned in step 1 can be delivered by our product</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>4</td>
                <td>The percentage of mentioned drugs in step2's producer company want to cooperate with us</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>5</td>
                <td>The success rate of the cooperation mentioned in step 3</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>6</td>
                <td>average unit product needed in each treatment</td>
                <td>60mg</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Unit product needed in each treatment</td>
                <td>16800g</td>
              </tr>

            </tbody>
          </table>
          <p>According to the cost analysis part, the price of our unit product is 6633.3$/g. Since there
            doesn't
            exist
            any competitor in Chinese market now selling the same or similar product, we can assume that the
            product's
            price can just be the number we defined. So the market scale is 6633.3$*16800=<b>111439440$</b></p>
          <br>
          <h3> PESTEL Analysis</h3>
          <hr>
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="20%">Types of the factors</th>
                <th width="80%">Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Political</td>
                <td>China's policy support and encourage the development of high and new technology research,
                  especially this kind of research in pharmaceutical sector. The range of drugs covered by the
                  medical insurance system in China is expanding annually. </td>
              </tr>
              <tr>
                <td>Economical</td>
                <td>Per capita disposable income increases, which means expensive high technical drugs like drugs
                  loaded by our product will have a larger chance to be accepted by people.</td>
              </tr>
              <tr>
                <td>sociocultural</td>
                <td>The number of people increase annually. Aging of population. The health awareness of people is
                  increasing.</td>
              </tr>
              <tr>
                <td>Technological</td>
                <td>Our technology becomes mature. Competitor companies may occur. New technology may replace our
                  technology.</td>
              </tr>
              <tr>
                <td>Environmental
                </td>
                <td>No significant influence.</td>
              </tr>
              <tr>
                <td>Legal</td>
                <td>No significant influence.</td>
              </tr>
            </tbody>
          </table>
          <br>
          <h3>Future Analysis</h3>
          <hr>
          <p>The political factors will influence the market scale of our product only when our product is covered
            by the medical insurance system in China. But this will not happen at least for 10 years since it
            takes
            for about 7 years for our product to come into China's market and it takes at least 3 years for the
            product promotion. So, we will not take these factors into account currently.

            The economic factors combined with sociocultural factors will let the number mentioned in step 4
            increase for 6% per year by our team's estimation.

            The mature of our technology will let the numbers mentioned in step 3,4 and 5 increase. But the
            amplification of the increasement can't be estimated currently. The effect of the occur of the new
            competitor company and the occur of the new technologies which can replace our technology will not be
            very significant for at least next 6 years.

            All in all, the increasing rate of our market scale will be about 6%.</p>

        </div>
      </div>
    </div>
    <div id="4" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class="mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Cost
            Analysis</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <br>
          <p>Since the core of our technique is the iron oxide nanoparticle and the drug capacity of our product is
            proportion to the mass of the iron oxide nanoparticle, we decide to use the <b>complex with 1g our
              synthesized
              iron oxide nanoparticle</b> as<b> 1g unit product</b> to analysis the cost of our product.</p>
          <br>
          <h3>Raw Material Cost (take EDC-NHS method as an example)</h3>
          <hr>
          <p>
            Our product is only sold in China which has 1.4 billion people. The table below is the content of
            the
            market scale analysis. (The definition of unit product is mentioned in cost analysis part.)</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:33.3333%">Item</th>
                <th style="width:33.3333%">Amount</th>
                <th style="width:33.3333%">Price ($)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nanoparticle</td>
                <td>1g</td>
                <td>~4110</td>
              </tr>
              <tr>
                <td>Antibody</td>
                <td>0.103g</td>
                <td>706</td>
              </tr>
              <tr>
                <td>PBS (0.1M)</td>
                <td>1000mL</td>
                <td>1.7</td>
              </tr>
              <tr>
                <td>EDC·HCl</td>
                <td>0.96mL
                <td>0.2</td>
              </tr>
              <tr>
                <td>NHS</td>
                <td>1.15mL</td>
                <td>0.2</td>
              </tr>
              <tr>
                <td>3kDa tube</td>
                <td>200</td>
                <td>980</td>
              </tr>
              <tr>
                <td>10kDa tube</td>
                <td>200</td>
                <td>980</td>
              </tr>

            </tbody>
          </table>
          <p>Sum: <b>~6800$/unit product</b><br>When the product scale reaches 1000g unit product, the cost of the
            raw material can drop at least 20% (which is 5440$).</p>
          <br>
          <h3>Labor Cost</h3>
          <hr>
          <p>25 people work for 8 hours a day will finish the goal of synthesize 10000g unit product in about
            150days. The hour salary is 8$, so the labor cost for synthesize is about 240000$. So the labor cost for
            1g unit product is 24$</p>
          <br>
          <h3>Package Cost</h3>
          <hr>

          <p>Our package needn't to be very fancy, but it needs to have the function of maintaining the temperature
            and avoiding collision. So normal cardboard with sponge inside it for the outer package and EP tube for
            the inner package is a possible way. We decide to put 10mg our unit product into the EP tube, so we need
            100 EP tube per unit product.</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Package cost per unit product</th>
                <th>number</th>
                <th>Cost ($)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>EP tube</td>
                <td>100</td>
                <td>20</td>
              </tr>
              <tr>
                <td>cardboard</td>
                <td>1m^2</td>
                <td>5</td>
              </tr>
              <tr>
                <td>sponge</td>
                <td>100g</td>
                <td>2</td>
              </tr>
              <tr>
                <td>sum</td>
                <td>/</td>
                <td>27</td>

            </tbody>
          </table>
          <br>
          <h3>Delivery Cost</h3>
          <hr>

          <p>We decide to send our product to the destination by the S.F. Express in China but we only pay the cost
            of transportation when the order quantity of our unit product is more than 10mg.<br>
            Set one order's average quantity is 100mg unit product and one delivery is about 3$, the total cost of
            the delivery is about 30$/1g unit product.
          </p>
          <br>
          <h3>Equipment Depreciation Cost</h3>
          <hr>
          <p>We set the rate of depreciation of our equipment to be 5%.<br>
            The sum price of our equipment is about 1350000$, so the equipment depreciation cost is about 67500$ per
            year. In our plan, we decide to synthesize about 10000g unit product per year so the equipment
            depreciation cost for 1g unit product is 6.75$
          </p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>Cost ($)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Raw material</td>
                <td>5440</td>
              </tr>
              <tr>
                <td>labor</td>
                <td>24</td>
              </tr>
              <tr>
                <td>package</td>
                <td>27</td>
              </tr>
              <tr>
                <td>delivery</td>
                <td>30</td>
              </tr>
              <tr>
                <td>depreciation</td>
                <td>6.75</td>
              </tr>
              <tr>
                <td>sum</td>
                <td>5527.75</td>
              </tr>
            </tbody>
          </table>
          <p>We decide to have a profit rate about 20% to keep on research and investigation, so the price of 1g
            unit product is about ,<b>6633.3$</b>.</p>

        </div>
      </div>
    </div>
    <div id="5" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class="mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Future
            Plans</span>
        </h1>
        <hr class="hr-ani">
        <br>
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <br>
          <h3>Research Process Analysis</h3>
          <hr>
          <img src="https://static.igem.wiki/teams/4702/wiki/hp/entrepreneurship/entrepreneurship-5-1-2.png"
            width="100%">
          <br><br>
          <p>Although our product is not a kind of traditional medicine, its developmental process which also
            contains
            discovery part, pre -clinical research part, clinical part which is very similar to the developmental process
            of
            the drug. It means we can regard it as a kind of “new medicine” in the technique development process
            analysis.<br><br>
            Our time and cost prediction for different stages is shown below as a format. We have already covered
            the
            discovery and development stage and about 15% of the pre-clinical test stage.
          </p>
          <table class="table table-hover">

            <caption align="top"><b>Time and cost prediction</b></caption>
            <thead>
              <tr>
                <th style="width:33.3333%">Stage</th>
                <th style="width:33.3333%">Time</th>
                <th style="width:33.3333%">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Discovery and development</td>
                <td>1 year</td>
                <td>10000$</td>
              </tr>
              <tr>
                <td>Pre-clinical test</td>
                <td>1.5 years</td>
                <td>22000$-35000$</td>
              </tr>
              <tr>
                <td>clinical research phase 1</td>
                <td>1.5 years</td>
                <td>60000$-70000$</td>
              </tr>
              <tr>
                <td>clinical research phase 2</td>
                <td>1.5 years</td>
                <td>85000$-95000$</td>
              </tr>
              <tr>
                <td>clinical research phase 3</td>
                <td>2.5 years</td>
                <td>125000$-145000$</td>
              </tr>
          </table>
          <br>
          <h3>Business Canvas</h3>
          <hr>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Key partners</td>
                <td>Westlake university UCAS</td>
              </tr>
              <tr>
                <td>Key activities</td>
                <td>Animal experiment Clinical test Improvement of drug adaptation</td>
              </tr>
              <tr>
                <td>Value proposition</td>
                <td>Increase the delivery efficiency of drugs Decrease the side effects of other normal cells
                  for
                  the medicine Decrease the amount of drug used in each treatment Decrease the cost per
                  treatment</td>
              </tr>
              <tr>
                <td>Customer relationships</td>
                <td>Conduct cooperative tests Provide advanced samples for free </td>
              </tr>
              <tr>
                <td>Customer segments</td>
                <td>Pharmaceuticals companies hospitals medical science research institutions</td>
              </tr>
              <tr>
                <td>Key resources</td>
                <td>Experimental facilities Production equipment Funds Patent for the technic</td>
              </tr>
              <tr>
                <td>Channels</td>
                <td>online purchase in the website offline flagship store </td>
              </tr>
              <tr>
                <td>Cost structure</td>
                <td>Experiments equipment and production equipment Raw material Transportation cost Packing
                  expenses Labor cost Land cost</td>
              </tr>
              <tr>
                <td>Revenue streams</td>
                <td>collect patent fees sell mature products provide technical advice </td>
              </tr>
            </tbody>
          </table>
          <br>
          <h3>SWOT Analysis</h3>
          <hr>
          <style>
            .shadow-table {
              background-color: #f2f2f2;
            }
          </style>

          <table>
            <tr>
              <th class="header-cell shadow-table"></th>
              <td class="data-cell shadow-table">
                <h4 style="text-align:center">Strength</h4>
                <ul>
                  <li>Advanced experimental equipment</li>
                  <li>Close relationship with some professors at Westlake University</li>
                  <li>Flexible teamwork mechanism</li>
                </ul>
              </td>
              <td class="shadow-table">
                <h4 style="text-align:center">Weakness</h4>
                <ul>
                  <li>Lack of research team members</li>
                  <li>Lack of research funds</li>
                  <li>In the initial stage of development</li>
                  <li>Low current yield and efficiency</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class=" shadow-table">
                <h4 style="text-align:center">Opportunity</h4>
                <ul>
                  <li>In the emerging market</li>
                  <li>Future demand will increase</li>
                  <li>Environmentally friendly</li>
                </ul>
              </td>
              <td class="opportunity-cell">
                <ul style="margin:0">
                  <li>Step up research and development</li>
                  <li>Increase drug compatibility</li>
                  <li>Increase production scale</li>
                  <li>Increase the rate of integration of production and research</li>
                </ul>
              </td>
              <td class="opportunity-cell">
                <ul>
                  <li>Recruit new team members</li>
                  <li>Increase the strength of finance</li>
                  <li>Accelerate the rate of research and development to increase the yield and efficiency</li>

                </ul>
              </td>
            </tr>
            <tr>
              <td class="header-cell shadow-table">
                <h4 style="text-align:center">Threat</h4>
                <ul>
                  <li>Lots of competitors for the same market</li>
                  <li>Substitution of other targeting techniques</li>
                  <li>Distrust of target customers</li>
                </ul>
              </td>
              <td class="data-cell">
                <ul>
                  <li>Conduct in-depth mechanism research</li>
                  <li>Optimize technology mechanisms</li>
                </ul>
              </td>
              <td class="data-cell">
                <ul>
                  <li>Collaborate with other peer companies</li>
                  <li>
                    Merge with peer companies to increase the scale
                  </li>
                </ul>
              </td>
            </tr>
          </table>


        </div>
      </div>
    </div>
    <div id="6" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Reference</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33277608/">Mitchell M. J., et al. Engineering precision
                nanoparticles for drug delivery. Nat Rev Drug Delivery. 2020. Doi: 10.1038/s41573-020-0090-8</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.js"></script>
<script src="{{ url_for('static', filename = 'pdf.js') }}"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>




{% endblock %}