{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM
season!{%endblock %}

{% block page_content %}
<!-- Header -->

<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">

<link href="{{url_for('static', filename = 'home.css')}}" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>

<link href="{{ url_for('static', filename = 'experiments.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" rel="stylesheet">

<div class="top-section">
  <div class="main-cta">
    <h1>Lorem, ipsum <span>dolor</span> sit <span>amet es</span>.</h1>
  </div>

</div>


<div class="background-section">
  <div id="h2middle">
    <h2>Background</h2>
  </div>
</div>

<div class="Nanoparticles-section">
  <br><br><br><br><br><br>
  <div class="container-wrapper">
    <div class="container-left ">
      <h2 class="text-center" style="width:100%">Nanoparticles</h2>
      <br>
      <strong><span class="larger-text">What are nanoparticles?</span></strong>
      <br><br>
      Nanoparticles are tiny particles with diameters ranging from 1 to 100 nanometers, making them roughly 1000 times
      smaller than the width of a human hair.
      These minuscule entities come in various shapes and can be crafted from a wide array of materials.
      <br><br>
      In recent times, nanoparticles containing metallic elements, particularly Iron Oxide Nanoparticles (IONPs), have
      gained significant prominence.
      IONPs are lauded for their exceptional biological compatibility and inherent ferromagnetism.
      <br><br>
      This is why our program is dedicated to the study of IONPs, as they offer a diverse range of applications.
      For instance, in the realm of cancer therapy, IONPs can generate heat that selectively targets and eradicates
      tumor cells.
      <br>
      <br><br>
      <strong><span class="larger-text">And how can you make them?</span></strong>
      <br><br>
      There are different ways of producing these nanoparticles
      <br><br>
      <span class="centered-text-1">Chemical &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Physical
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Coorecipitation</span>
      <br><br>
      but these production methods all have their downsides.
      <br><br>
      <span class="centered-text-2"><strong>Inconsistent &nbsp;&nbsp;&nbsp; Not adaptable &nbsp;&nbsp;&nbsp; Toxic
          &nbsp;&nbsp;&nbsp; Expensive</strong></span>
    </div>


    <div class="container-right">
      <br><br><br>

      <!--图表-->
      <div id="ChartDom" style="width:100%;height:100%"></div> <!--style="width:600px; height:400px; margin:auto"-->
      <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('ChartDom'));

        // 指定图表的配置项和数据
        option = {
          title: {
            text: 'Current status of IONPs synthesis methods',
            left: 'center',
            textStyle: {
              color: 'blue',  // 设置标题字体颜色
            }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {d}%', // 显示百分比
          },
          legend: {
            orient: 'vertical',
            top: '6%', // 设置标题距离容器顶部的距离，根据需要调整值
            left: 'left',
            textStyle: {
              color: 'white',  // 设置图例字体颜色
            }
          },
          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: '50%',
              data: [
                { value: 8, name: 'Physical methods' },
                { value: 24, name: 'Other Chemical methods' },
                { value: 23, name: 'Hydrothermal' },
                { value: 18, name: 'Microemulsion' },
                { value: 25, name: 'Coprecipitation' },
                { value: 2, name: 'Biological mediated' }
              ],
              label: {
                show: true,
                color: 'white',  // 设置数据项字体颜色
                // 可以根据需要调整透明度，例如：backgroundColor: 'rgba(255, 255, 255, 0.7)'
              }
            }
          ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
      </script>
    </div>

  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="card">
    What can we do?
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="container-wrapper">
    <div class="container-left-1">
      <br>
      <div class="image-container">
        <img src="https://static.igem.wiki/teams/4702/wiki/home-photoes/e-coli.gif"
          alt="GFP expression level under different concentration of ferric ion treatment" class="image" width="100%"
          height="100%">
      </div>
    </div>
    <div class="container-right-1 ">
      <br><br>
      <strong><span class="larger-text">Biosynthesitic nanoparticles</span></strong>
      <br><br><br>
      Our genetically edited <i>E. coli</i> is used to synthesize Iron Oxide Nanoparticles (IONPs) by adding
      Fe<sup>3+</sup> for induction.
      <br><br><br>
      <a href="description.html">Go to our description page. </a>
      <br><br><br>
      <strong><span class="larger-text">What is special about our nanoparticles?</span></strong>
      <br><br><br>
      They are not just any nanoparticle! They have special abilities due to their properties.
      We then step into exploring therapeutic applications and drug delivery possibilities.
      <br><br><br><br><br><br>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>

<div class="Problem-section">
  <div class="introduction-container">
    <sapn class="headhead-font"><span class="larger-text-2"><span class="colored-text-1">Interested?</sapn></span></span><br><br>
    <sapn class="headhead-font"><span class="larger-text-2"><span class="colored-text-1">Keep browsing for more information!</sapn></span>
    <hr style="width: 70%; background-color: #ffffff; height: 5px; margin: 0 auto;">
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="timeline-container">
    <div class="container-wrapper-1">
      <div class="left-content">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p><strong><span class="larger-text-2">
              <sapn class="head-font"><span class="colored-text">B</span>reast Cancer</sapn>
            </span></strong><br><br><br><br><br><br><br>
          <img src="https://static.igem.wiki/teams/4702/wiki/home-photoes/breast-cancer-true.png" alt="breast cancer"
            width="80%">
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <p><img src="https://static.igem.wiki/teams/4702/wiki/home-photoes/experimrnt-2.png" alt="breast cancer"
            width="100%">
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <video width="640" height="360" controls>
          <source src="https://video.igem.org/w/prpJtM364Y5MmyzoDX9LDw" type="video/mp4">
        </video>
        <p>Content 06</p>
        <p>Content 07</p>
        <p>Content 08</p>
        <p>Content 09</p>
        <p>Content 10</p>
      </div>
      <div class="right-content">
        <p><strong><span class="larger-text-2"> <span class="head-font"><span class="colored-text">T</span>he
                Problem</span></span></strong>
          <br><br><br>
          <img src="https://static.igem.wiki/teams/4702/wiki/home-photoes/cancer-3.png" alt="breast cancer" width="80%">
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p><strong><span class="larger-text-2"><span class="head-font"><span class="colored-text">O</span>ur
                Solution</span></span></strong>
          <br><br><br>
          <a href="目标链接的URL">
            <img src="https://static.igem.wiki/teams/4702/wiki/home-photoes/experimrnt-1.png" alt="breast cancer"
              width="100%">
          </a>
        </p><br><br><br><br>
        <p><img src="https://static.igem.wiki/teams/4702/wiki/home-photoes/experiment-3.png" alt="breast cancer"
            width="100%"></p>
        <p>Content 05</p>
        <p>Content 06</p>s
        <p>Content 07</p>
        <p>Content 08</p>
        <p>Content 09</p>
        <p>Content 10</p>
      </div>
    </div>
  </div>
</div>

<div class="experiment-section">
  <sapn class="headhead-font"><span class="larger-text-2"><span class="colored-text-1">Engineering & Experiments :
  </sapn></span></span>
  <br><br>
  <section id="timeline">

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://static.igem.wiki/teams/4702/wiki/engineering/cover3.png)">
      </div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">cells</p>
      </div>

      <div class="tl-content">
        <h1>Lorem ipsum dolor sit</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg"
        style="background-image: url(https://static.igem.wiki/teams/4702/wiki/home-photoes/0-0-1-1-5-so4-5-cl-2.png)">
      </div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2013</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
        <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel
          mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla sed felis. Morbi sed nisl et arcu.
        </p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg"
        style="background-image: url(https://static.igem.wiki/teams/4702/wiki/home-photoes/tem-confocol.png)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2014</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
        <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet
          varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at, porttitor dolor. Etiam id
          cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros odio, egestas quis efficitur vel, pretium
          sed.</p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg"
        style="background-image: url(https://static.igem.wiki/teams/4702/wiki/home-photoes/96-well.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2016</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Mauris vitae nunc elem</h1>
        <p>Suspendisse ac mi at dolor sodales faucibus. Nunc sagittis ornare purus non euismod. Donec vestibulum
          efficitur tortor, eget efficitur enim facilisis consequat. Vivamus laoreet laoreet elit. Ut ut varius metus,
          bibendum imperdiet ex. Curabitur diam quam, blandit at risus nec, pulvinar porttitor lorem. Pellentesque dolor
          elit.</p>
      </div>

    </div>
  </section>
</div>

<div class="bottom-section">
  <h2>Human Practice :</h2>
  <br><br><br><br><br><br>
  <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">

          <img
            src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp"
            alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">26 December 2019</span>
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Recusandae
            voluptate repellendus magni illo ea animi? </div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img
            src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp"
            alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">26 December 2019</span>
          <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Recusandae
            voluptate repellendus magni illo ea animi?</div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img
            src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp"
            alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">26 December 2019</span>
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Recusandae
            voluptate repellendus magni illo ea animi?</div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="blog-slider__pagination"></div>
  </div>
</div>
<br><br><br><br>



<br><br><br><br>
<iframe title="MIT: GSHield: A Synthetic Biology Solution to Oral Mucositis (2022) - Project Promotion [English]"
  width="80%" height="560" src="https://video.igem.org/w/prpJtM364Y5MmyzoDX9LDw" frameborder="0" allowfullscreen=""
  sandbox="allow-same-origin allow-scripts allow-popups">
</iframe>

<script src="{{ url_for('static', filename = 'home.js') }}"></script>
<script src="{{ url_for('static', filename = 'card.js') }}"></script>

{% endblock %}