{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM
season!{%endblock %}

{% block page_content %}
<!-- Header -->

<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">

<link href="{{url_for('static', filename = 'home.css')}}" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>

<link href="{{ url_for('static', filename = 'experiments.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">

<div class="top-section">
  <div class="main-cta">
    <h1>Lorem, ipsum <span>dolor</span> sit <span>amet es</span>.</h1>
  </div>

</div>

<div class="background-section">
  <h2>Background</h2>
  <div class="middle-image">
    <img src="https://static.pexels.com/photos/137108/pexels-photo-137108.jpeg" alt="Middle Image">
  </div>
</div>

<div class="Nanoparticles-section">
  <br><br>
  <div class="container-wrapper">
    <div class="container-left ">
      <h2 class="text-center" style="width:100%">Nanoparticles</h2>
      <br>
      <strong><span class="larger-text">What are nanoparticles?</span></strong>
      <br><br>
      They are particles which are a 1000 times smaller than the width of a hair.
      Nanoparticles come in all shapes and can be made from various materials.
      <br><br>
      They have a variety of applications, for example, in cancer therapy, where they can produce heat that kills tumor
      cells.
      <br>
      <br>
      <strong><span class="larger-text">And how can you make them?</span></strong>
      <br><br>
      There are different ways of producing these nanoparticles
      <br><br>
      <span class="centered-text-1">Chemical &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Physical
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Eletrochemical</span>
      <br><br>
      but these production methods all have their downsides.
      <br><br>
      <span class="centered-text-2"><strong>Inconsistent &nbsp;&nbsp;&nbsp; Not adaptable &nbsp;&nbsp;&nbsp; Toxic
          &nbsp;&nbsp;&nbsp; Expensive</strong></span>
    </div>
    <div class="container-right">
      <br>
      <div class="image-container">
        <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
          alt="GFP expression level under different concentration of ferric ion treatment" class="image" width="100%"
          height="100%">
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="animation-container">
    <p class=""><span class="larger-text-1 fade-in-text" style="">What can we do?</span></p>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="container-wrapper">    
    <div class="container-left-1">
      <br>
      <div class="image-container">
        <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
          alt="GFP expression level under different concentration of ferric ion treatment" class="image" width="100%"
          height="100%">
      </div>
    </div>
    <div class="container-right-1 ">
      <br><br>
      <strong><span class="larger-text">Biosynthesitic nanoparticles</span></strong>
      <br><br><br>
      Our genetically edited <i>E. coli</i> is used to synthesize Iron Oxide Nanoparticles (IONPs) by adding Fe<sup>3+</sup> for induction.
      <br><br><br>
      <a href="description.html">Go to our description page. </a>
      <br><br><br>
      <strong><span class="larger-text">What is special about our nanoparticles?</span></strong>
      <br><br><br>
      They are not just any nanoparticle! They have special abilities due to their properties. 
      We then step into exploring therapeutic applications and drug delivery possibilities.     
      <br><br><br><br><br><br>
    </div>
  </div>
</div>

<div class="Problem-section">
  <h2>The problem</h2>
  <div class="middle-image">
    <img src="https://static.pexels.com/photos/137108/pexels-photo-137108.jpeg" alt="Middle Image">
  </div>
</div>

<div class="middle-section">
  <h2>More Information:</h2>
  <div class="middle-image">
    <img src="https://static.pexels.com/photos/137108/pexels-photo-137108.jpeg" alt="Middle Image">
  </div>
</div>

<div class="bottom-section">
  <h2>Cell Experiments :</h2>
  <div class="bottom-image">
    <img src="https://images.pexels.com/photos/136049/pexels-photo-136049.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"
      alt="Bottom Image">
  </div>
  <div class="content">
    <div class="button_container">
      <div class="button_su">
        <span class="su_button_circle">
        </span>
        <a href="#" class="button_su_inner">
          <span class="button_text_container">
            Simple button
          </span>
        </a>
      </div>

      <div class="button_su">
        <span class="su_button_circle">
        </span>
        <a href="#" class="button_su_inner">
          <span class="button_text_container">
            Another button
          </span>
        </a>
      </div>

      <div class="button_su">
        <span class="su_button_circle">
        </span>
        <a href="#" class="button_su_inner">
          <span class="button_text_container">
            A third button
          </span>
        </a>
      </div>

    </div>
    <div>
      <div>


        <br><br><br><br>
        <iframe
          title="MIT: GSHield: A Synthetic Biology Solution to Oral Mucositis (2022) - Project Promotion [English]"
          width="80%" height="560" src="https://video.igem.org/w/prpJtM364Y5MmyzoDX9LDw" frameborder="0"
          allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>

        <script src="{{ url_for('static', filename = 'home.js') }}"></script>
        <script src="{{ url_for('static', filename = 'card.js') }}"></script>

        {% endblock %}