{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for
the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center"
  style="background-image: url('https://static.igem.wiki/teams/4702/wiki/hp/hp-cover.jpg');background-size:cover">
  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light" style="font-size:70px;">Human Practices</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
              We ask every team to think deeply and creatively about whether their project is responsible and good for
              the world. Consider how the world affects your work and how your work affects the world.
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<link href="{{ url_for('static', filename = 'experiments.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'HP.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">

<div class="row" style="">
  <div id="sidebar" class="ol-md-3 offset-md-1 sidebar  flex-column flex-shrink-0 p-3"
    style="padding-right:0;padding-left:0">
    <hr>
    <ul class="navigation nav nav-pills flex-column mb-auto" style="line-height: 1.2rem;">
      <li>
        <a href="#1" class="nav-link">
          Nanoparticle Separation
        </a>
      </li>
      <li>
        <a href="#2" class="nav-link">
          General Synthetic Biology
        </a>
      </li>
      <li>
        <a href="#3" class="nav-link">
          Nanoparticle Application
        </a>
      </li>
      <li>
        <a href="#4" class="nav-link">
          Ferroptosis of Iron Oxide Nanoparticle
        </a>
      </li>
      <li>
        <a href="#5" class="nav-link">
          Conjugation of Nanoparticle and Antibody
        </a>
      </li>
      <li>
        <a href="#6" class="nav-link">
          Clinical Application of Nanoparticles
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <div class="mp-content offset-md-3 col-md-9 col-lg-9 justify-content-end" style="padding-right:0;padding-left:0">
    <div id="1" class="month">
      <div class="container mx-auto mt-5">
        <h1 class="pt-5 mx-auto text-center">
          Nanoparticle Separation
        </h1>
        <hr>
        <!--专家介绍-->
        <div class="card mx-auto text-center">

          <!--问题-->
          <div class="card-header ani-card-header">Questions we asked</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>When isolating and synthesizing nano iron particles from E. coli, we encounter the need to remove a
                significant amount of biomaterial. Could you please recommend an effective washing agent that can
                achieve good removal results without significantly damaging the surface composition of the nano iron
                particles?</li>
              <li>How can we achieve the coupling between antibodies and the surface of iron oxide nanoparticles? We are
                considering two approaches: direct coupling to the isolated iron oxide nanoparticles, where the surface
                coating component may be phospholipids, and pre-coating the nanoparticles with a layer of PEG
                (polyethylene glycol) before coupling. Do you have any suggestions for the design of coupling
                components? We have thought about the Spytag/Spycatcher system.</li>
              <li>Is it possible to enhance the connection between the tail end of the antibodies and the nanoparticles
                through a biocompatible method of modifying the binding site?
              </li>
              <li>
                After synthesizing our antibodies, we aim to improve their targeting efficiency. Are there any
                biocompatible methods available to modify the binding site at the head end of the antibodies?</li>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-bobo-dang.jpg" alt="Professor Bobo DANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Bobo DANG</h3>
                <br>
                <p style="color:#009DBE">School of Life Sciences</p>
                <p>Biology<br>
                  Laboratory of Protein Engineering and Protein Therapeutics</p>
                <a href="https://www.dang-lab.com/team">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>During our discussion on the self-assembly of bio-synthetic
                    nanoparticles and antibodies in Escherichia coli, professor Dang expressed
                    concerns regarding the stability of the vesicles on the surface of the
                    nanoparticles compared to the bacterial membrane. professor Dang suggested that
                    this instability might lead to the destruction of the nanoparticle structure
                    when separating them with antibodies. Consequently, he proposed that it would
                    be more feasible for us to synthesize and assemble the components separately.</li>
                  <li>Another topic of our discussion was elution during the separation of nanoparticles.
                    professor Dang suggested that we could employ organic solvents for washing and
                    filtration. Additionally, considering the necessity of a layer of PEG membrane,
                    professor Dang recommended attempting to dissolve PEG in organic solvents to
                    achieve the desired replacement.</li>
                  <li>Professor Dang opined that the surface composition of the nanoparticles
                    is not necessarily crucial. As long as the final objective of antibody
                    connectivity is achieved, the existence of amino and carboxyl groups on the
                    surface of bio-synthesized nanoparticles should facilitate connection.
                    Professor Dang also proposed the possibility of employing harsh solvents to
                    wash the nanoparticles and observe their binding behavior with antibodies.</li>
                  <li>In relation to connecting the antibodies and nanoparticles, professor Dang
                    mentioned the utilization of EDC (1-Ethyl-3-(3-dimethylaminopropyl)carbodiimide). </li>
                  <li>Overall, an additional point to consider is that using PEG coating might
                    not be meaningful. Commercially available chemically-synthesized nanoparticles
                    are already coated with PEG. Therefore, the coating on the surface of bio-synthesized
                    nanoparticles lacks significance.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--如果要在这个栏目再放一个专家及问题，把上面专家和问题复制下来，并且在下面一行加上换行<br> -->
        <br>
        <div class="card mx-auto text-center">

          <!--问题-->
          <div class="card-header ani-card-header">Questions we asked</div>
          <div class="card-body ani-card-body">
            <ol>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hongyu-chen.jpg" alt="Professor Hongyu CHEN"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Hongyu CHEN</h3>
                <br>
                <p style="color:#009DBE">School of Science<br>School of Engineering (Affiliated)</p>
                <p>Chemistry<br>
                  Materials Science and Engineering<br>
                  Laboratory of Nanosynthesis<br>
                </p>
                <a href="http://www.nanosynthesis.cn/">View More</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card mx-auto text-center">
          <!--问题-->
          <div class="card-header ani-card-header">Questions we asked</div>
          <div class="card-body ani-card-body">
            <ol>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hongfei-wang.jpg" alt="Professor Hongfei WANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Hongfei WANG</h3>
                <br>
                <p style="color:#009DBE">School of Science</p>
                <p>Chemistry<br>
                  Physics<br>
                  Ultrafast Laser Spectroscopy and Surface/Interface Physical Chemistry Laboratory<br>
                </p>
                <a href="https://hfwgroup.westlake.edu.cn/">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                </ol>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="2" class="month">
      <div class="container mx-auto mt-5">
        <h1 class="pt-5 mx-auto text-center">
          General Synthetic Biology
        </h1>
        <hr>
        <div class="card mx-auto text-center">

          <div class="card-header ani-card-header">Questions</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>Can E. coli be cultured in SOB (Super Optimal Broth) protein medium?</li>
              <li>Is it possible for antibodies to be synthesized in E. coli without the formation of double sulfur
                bonds at the wrong location?</li>
              <li>Can iron oxide nanoparticles (IONPs) be conjugated with antibodies, similar to how gold nanoparticles
                (Au NPs) and antibodies form an Au-S bond?</li>
              <li>What should be prioritized when conducting tests with iron oxide nanoparticles, and how can we
                optimize the conditions for the best product?</li>
              <li> Is it feasible to construct an AI model to predict interactions between nanoparticles and proteins,
                considering the limited experimental data available in this field?</li>
              <li>What are the challenges and considerations involved in the mass production of iron oxide
                nanoparticles, such as comparing biosynthesis yield with chemosynthesis, reaction time, reactant
                inhomogeneity, and controlling particle size?</li>

            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-kechun-zhang.jpg" alt="Professor Kechun ZHANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Kechun Zhang</h3>
                <br>
                <p style="color:#009DBE">School of Engineering</p>
                <p>Materials Science and Engineering<br>
                  Laboratory of Biomanufacturing and New Materials</p>
                <a href="https://en.westlake.edu.cn/faculty/kechun-zhang.html">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>We discussed culture medium proteins for E.coli, such as SOB (Super Optimal Broth) protein.</li>
                  <li>The synthesis of antibodies in E.coli was also addressed. Dr. Zhang pointed out that even when
                    using
                    strains with partially blocked reduction pathways, there is a possibility of the double sulfur bond
                    of
                    the antibody forming at the wrong location. To confirm this, we referred to Ahmadzadeh et al.
                    (2020),
                    where it was found that our desired antibody can indeed be synthesized in E.coli.</li>
                  <li>The conjugation of iron oxide nanoparticles (IONPs) and antibodies was another topic of our
                    discussion. Dr. Zhang mentioned that previous research has shown that Au nanoparticles and
                    antibodies
                    can form the Au-S bond. However, there is no information available regarding whether this method
                    works
                    for iron oxide nanoparticles. Currently, we are working on this issue and drawing inspiration from
                    Lee et al. (2021), who proposed the use of the SpyTag/SpyCatcher system for conjugation.</li>
                  <li>Dr. Zhang advised us to pay attention to our schedule, as we will be conducting tests to validate
                    our
                    hypothesis. He suggested optimizing the conditions for producing the best product with iron oxide
                    nanoparticles as a priority.</li>
                  <li>We also inquired about the possibility of constructing an AI model to predict interactions between
                    nanoparticles and proteins. However, Dr. Zhang pointed out that the limited amount of experimental
                    data
                    available in this field and the scarcity of published data make it necessary to postpone this plan.
                    Perhaps in the future, when we have gathered more data, we will be able to proceed with this
                    project.
                  </li>
                  <li>Lastly, we discussed the mass production of IONPs. Dr. Zhang emphasized the need to compare the
                    biosynthesis yield with chemosynthesis. Additionally, mass production involves considerations such
                    as
                    reaction time and the inhomogeneity of reactants in a large reactor. Moreover, controlling the
                    particle
                    size of iron oxide nanoparticles poses a challenge.</li>
                </ol>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <div id="3" class="month">
      <div class="container mx-auto mt-5">
        <h1 class="pt-5 mx-auto text-center">
          Nanoparticle Application
        </h1>
        <hr>
        <div class="card mx-auto text-center">

          <div class="card-header ani-card-header">Questions</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>Can anaerobic bacteria be directly used for targeted therapy, as proposed in the study by Ouajdi
                Felfoul et al. (2016)?</li>
              <li>What are the potential limitations of our targeted therapy, specifically in relation to the formation
                of a protein corona around nanoparticles coated with antibodies?</li>
              <li>Are there any specific methods or techniques for the conjugation of antibodies and nanoparticles that
                we should refer to? (Referring to the Advanced Materials review and the work of Professor Zhang
                Xianzheng)</li>
              <li>How can we ensure the specificity of the antibody-nanoparticle conjugation and prevent the functional
                domain of the antibody from binding to the nanoparticles?</li>
              <li>What is the impact of Extracellular Polymeric Substances (EPS) on the functionality of nanoparticles,
                and are there any studies that have investigated this?</li>
              <li>What method can be used to measure the interaction kinetics and affinity between biomolecules,
                specifically in relation to antibody-antigen interactions in target therapy?</li>
              <li>What technique can be used for the separation of nanoparticles from E. coli, considering that PD-10 is
                only suitable for the elution of ferric chloride?</li>
            </ol>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="subfield">
            <div class="left-column">
              <img src="" alt="Dr. ZHOU" width="250" height="">
              <h3 style="text-align: center;padding-top: 15px;">Yaofeng ZHOU</h3>
              <br>
              <p style="color:#009DBE">School of Engineering</p>
              <p>Cheng Research group</p>
              <a href="https://www.cheng-lab.com/">View more</a>
            </div>
            <div class="vertical-line"></div>
            <div class="right-column">
              <h3>Your title</h3>
              <ol>
                <li>In terms of target therapy, Dr. ZHOU discussed a study by Ouajdi Felfoul
                  et al. (2016) that proposes a novel approach involving the direct use of
                  anaerobic bacteria for target therapy.</li>
                <li> ZHOU also addressed the potential limitations of our target therapy.
                  When nanoparticles coated with antibodies are introduced into the human
                  body, they tend to attract numerous proteins, resulting in the formation
                  of a protein corona around the nanoparticles. This protein corona can
                  significantly affect the nanoparticles' biological behavior and fate.</li>
                <li>In regards to antibody-nanoparticle conjugation, Dr. ZHOU recommended
                  referring to a review in Advanced Materials (Antibody Conjugation of Nanoparticles
                  as Therapeutics for Breast Cancer Treatment, Int. J. Mol. Sci., 2020),
                  which discusses various methods for antibody-nanoparticle conjugation.
                  This review greatly expanded our understanding of conjugation techniques.</li>
                <li>Dr. ZHOU also highlighted the work of Professor Zhang Xianzheng in the
                  field of conjugation, which is highly relevant to our research topic.
                </li>
                <li>Dr. ZHOU emphasized the importance of ensuring the specificity of the
                  conjugation, in order to prevent the antibody's functional domain from
                  binding to the nanoparticles. He recommended modifying the antibody's tail
                  through PEGylation or the use of a branched tail, as well as considering
                  the use of a secondary antibody to address this issue.
                </li>
                <li>Dr. ZHOU also mentioned the potential interference posed by Extracellular
                  Polymeric Substances (EPS) on the functionality of nanoparticles. Subsequently,
                  we discovered a study by Gao et al. (2019) that investigated the adsorption of
                  EPS from <i>E. coli</i> onto titanium dioxide nanoparticles (nTiO), demonstrating
                  that EPS effectively reduced the concentration of nTiO in the solution.
                  Furthermore, a study by Wang et al. (2016) found that EPS produced by <i>E. coli</i>
                  could sequester nanoparticles, thereby diminishing their bactericidal activity.
                </li>
                <li>To measure the interaction kinetics and affinity between biomolecules,
                  Dr. ZHOU recommended employing Bio-Layer Interferometry (BLI), which enables
                  the detection of antibody-antigen interactions in target therapy.
                </li>
                <li>Regarding the separation of nanoparticles from <i>E. coli</i>, Dr. ZHOU discussed
                  the use of PD-10. However, we later discovered that this technique is only
                  suitable for the elution of ferric chloride.</li>
                </li>
              </ol>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="4" class="month">
      <div class="container mx-auto mt-5">
        <h1 class="pt-5 mx-auto text-center">
          Ferroptosis of Iron Oxide Nanoparticle
        </h1>
        <hr>
        <div class="card mx-auto text-center">

          <div class="card-header ani-card-header">Questions</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>We currently have two approaches for coupling antibodies to the surface of iron oxide nanoparticles.
                The first approach involves direct coupling with isolated iron oxide nanoparticles, where the surface
                coating component could be phospholipids. The second approach involves first forming a layer of
                polyethylene glycol (PEG) on the surface, followed by coupling with PEG. Do you have any suggestions for
                protein design for coupling? We have considered the Spytag/Spycatcher system. Also, do you think breast
                cancer cells are highly sensitive to ferroptosis?</li>
              <li>Do you think our synthesized iron oxide nanoparticles can induce apoptosis in breast cancer cells
                after entering them? </li>
              <li>Do you think our synthesized iron oxide nanoparticles can induce apoptosis in breast cancer cells
                after entering them?</li>

            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-yilong-zou.jpg" alt="Professor Yilong ZOU"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Yilong Zou</h3>
                <br>
                <p style="color:#009DBE">School of Life Sciences</p>
                <p>Biology<br>
                  The Laboratory of Functional Lipidomics and Metabolic Regulation</p>
                <a href="https://www.yilongzou-lab.com/">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>Dr. Zou emphasizes the catalytic role of ferrous ions (Fe<sup>2+</sup>)
                    in ferroptosis and suggests that conducting experiments to validate the
                    functional similarities of our iron oxide nanoparticles (IONPs) is necessary.
                  </li>
                  <li>Additionally, he asserts that IONPs can serve as a sustained-release agent
                    for iron ions, which he views as a significant advantage in our project.
                  </li>
                  <li>Furthermore, Dr. Zou raises the important concern of considering the
                    components of the coating applied to the IONPs, as certain toxic substances
                    have the potential to elicit an immune response in vivo.
                  </li>
                  <li>Regarding the experimental design, he suggests adhering to the hierarchy
                    principle and conducting a feasibility study before proceeding with formal
                    experiments.
                  </li>
                  <li>He proposes a definition of synthetic biology as the manipulation of gene
                    editing to link together more than three proteins. In light of this definition,
                    he contends that our project does not substantially fall under the category of
                    synthetic biology and emphasizes the need to present relevant data to enhance
                    its competitiveness.
                  </li>
                  <li>Dr. Zou also highlights that antibodies operate within a non-cell-autonomous
                    context. This implies that conducting animal experiments may be necessary to
                    effectively test their efficacy.
                  </li>
                  <li>Lastly, he kindly offers the assistance of his science assistant as a
                    counselor for our project, and proposes conducting experiments in his
                    laboratory.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="5" class="month">
      <div class="container mx-auto mt-5">
        <h1 class="pt-5 mx-auto text-center">
          Conjugation of Nanoparticle and Antibody
        </h1>
        <hr>
        <div class="card mx-auto text-center">

          <div class="card-header ani-card-header">Questions</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>When isolating synthesized iron nanoparticles from E. coli, we need to remove a significant amount of
                biomass. Do you have any recommendations for effective washing agents that can remove biomass without
                significantly damaging the surface composition of the nanoparticles?</li>
              <li>We currently have two approaches for coupling antibodies to the surface of iron oxide nanoparticles.
                The first approach involves direct coupling with isolated iron oxide nanoparticles, where the surface
                coating component could be phospholipids. The second approach involves first forming a layer of
                polyethylene glycol (PEG) on the surface, followed by coupling with PEG. Do you have any suggestions for
                protein design for the coupling? We have considered the Spytag/Spycatcher system.</li>
              <li>Is it possible to use our computational methods to identify proteins that can achieve strong binding
                between the antibody tail and the nanoparticles?</li>
              <li>Can we use our computational methods to evaluate the targeting efficiency in our current breast cancer
                antibody library and target database?</li>
              <li>Do you have any recommendations for our administration route?</li>
              <li>Are there any widely used kinetic models for drug behavior in the body?</li>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-longxing-cao.png" alt="Professor Longxing CAO"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Longxing CAO</h3>
                <br>
                <p style="color:#009DBE">School of Life Sciences</p>
                <p>Biology<br>
                  Computational Protein Design Lab</p>
                <a href="https://en.westlake.edu.cn/faculty/longxing-cao.html">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>Cao suggested directly coupling the antibody to the nanoparticle due to
                    the instability of the long-coupled structure. However, he also highlighted
                    that chemical cross-linking lacks directionality.
                  </li>
                  <li>Additionally, Dr. Cao emphasized that the complexities associated with
                    glycosylation during the synthesis of antibodies in <i>E. coli</i> could potentially
                    impact antibody stability.
                  </li>
                  <li>Furthermore, Dr. Cao mentioned the possibility of designing a protein cage that
                    can self-assemble with antibodies. However, he acknowledged that our current
                    capabilities might not be sufficient for handling such a complex process.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card mx-auto text-center">

          <div class="card-header ani-card-header">Questions</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>Have you tried using other materials for coating the nanoparticles, such as polyethylene glycol (PEG)?
              </li>
              <li>We currently have two approaches for coupling antibodies to the surface of iron oxide nanoparticles.
                The first approach involves direct coupling with isolated iron oxide nanoparticles, where the surface
                coating component could be phospholipids (similar to cell membranes). The second approach involves first
                forming a layer of polyethylene glycol (PEG) on the surface, followed by coupling with PEG. Do you have
                any suggestions for protein design for the coupling? We have considered the Spytag/Spycatcher system.
              </li>
              <li>In terms of targeting efficiency, do you think your researched antimicrobial peptides have a higher
                affinity for certain pathological cells compared to traditional antibodies? Or, what are the advantages
                of antimicrobial peptides, and can we apply them to our project?</li>
              <li>Do you have any relevant research on targeted therapy for breast cancer using nanoparticles? Do you
                have any overall recommendations for our project?</li>
              <li>Have you conducted any research on the pharmacokinetics of drugs in the body? Do you have any
                recommendations for modeling and evaluating our administration methods and drug effects?</li>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-yue-zhang.jpg" alt="Professor Yue ZHANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Yue ZHANG</h3>
                <br>
                <p style="color:#009DBE">School of Engineering</p>
                <p>Materials Science and Engineering<br>Biology<br>
                  Infection and immunomodulation Laboratory</p>
                <a href="https://yz.lab.westlake.edu.cn/index_en.html">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <ol>
                  <li>Dr. Zhang believes that our system may face difficulties in carrying
                    drugs due to the assembly of nanoparticles in E.coli. However, she suggests
                    that we could potentially use antibacterial polypeptides to create a pore in
                    the membrane of the nanoparticles, through which drugs can be inserted.
                  </li>
                  <li>In regards to the conjugation of antibodies with nanoparticles, Dr. Zhang
                    mentioned three methods: azide-alkyne cycloaddition, biotin-avidin conjugation,
                    and EDC-NHS reaction. We have found some relevant articles on this topic and will
                    further discuss and decide on the most suitable approach.
                  </li>
                  <li>Regarding our hypothesis that the coating of nanoparticles consists of lipids,
                    Dr. Zhang recommends observing our samples under TEM (transmission electron microscope)
                    to determine whether there is a membrane surrounding the nanoparticles, with an
                    approximate size of 5nm, which is consistent with the size of a biological membrane.
                  </li>
                  <li>For the characterization of components on the surface of the nanoparticles, Dr.
                    Zhang suggests conducting Mass Spectrum analysis to identify the proteins present.
                  </li>
                  <li>Furthermore, Dr. Zhang kindly informed us that her lab has an ultra-high-speed
                    centrifuge available for our use, should the need arise.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="6" class="month">
      <div class="container mx-auto mt-5">
        <h1 class="pt-5 mx-auto text-center">
          Clinical Application of Nanoparticles
        </h1>
        <hr>
        <!--专家介绍-->
        <div class="card mx-auto text-center">

          <!--问题-->
          <div class="card-header ani-card-header">Questions we asked</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>What is the potential of photo-thermal therapy using specific nanoparticle materials in heating the
                targeted area?</li>
              <li>Can you elaborate on the recent advancements in using Raman spectroscopy to differentiate between
                tumor and healthy tissue boundaries during surgery?</li>
              <li> How do the restrictions on drug use and the cautious drug development process impact the translation
                of scientific research into clinical trials?</li>
              <li>Can you provide more information about the China Breast Cancer Guidelines and how they contribute to
                our understanding of breast cancer therapy?</li>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-bobo-dang.jpg" alt="Professor Bobo DANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Jing Yang</h3>
                <br>
                <p style="color:#009DBE">?</p>
                <p>?<br>
                  ?</p>
                <a href="https://www.dang-lab.com/team">View more</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>Ms. Lu believed that targeted therapy and immunotherapy hold great promise for future oncotherapy,
                    as antitumor specificity is a crucial consideration in this field.</li>
                  <li> She also mentioned the importance of PD-L1 (Programmed Death Ligand 1) and ICB (Immune Checkpoint
                    Blockade) as current targets in oncology therapy.</li>
                  <li> With regard to our nanoparticles that target Her2+ breast cancer cells, she emphasized the need
                    to consider the expression of the antibodies in normal cells.</li>
                  <li>Based on her experience, she asserted that the function of a drug within the body (in vivo) is the
                    most significant factor in therapy, as sometimes the effects of drugs in vivo and in vitro can be
                    reversed.</li>
                  <li> She encouraged us to conduct experiments in mice to confirm the in vivo effect of our
                    nanoparticles.</li>
                  <li> Ms. Lu also discussed the potential benefits of combination therapy involving both first-line and
                    second-line drugs, which could increase patients' sensitivity to the treatment.</li>
                  <li> Adding to her points, she explained that targeted therapy and immunotherapy are interconnected,
                    as targeted therapy can stimulate the release of antigens from diseased cells, triggering immune
                    responses.</li>

                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--如果要在这个栏目再放一个专家及问题，把上面专家和问题复制下来，并且在下面一行加上换行<br> -->
        <br>
        <div class="card mx-auto text-center">

          <!--问题-->
          <div class="card-header ani-card-header">Questions we asked</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>What makes targeted therapy and immunotherapy promising for future oncotherapy?</li>
              <li> Can you explain the importance of PD-L1 and ICB as targets in oncology therapy?</li>
              <li>How should we consider the expression of antibodies in normal cells when designing nanoparticles
                targeting Her2+ breast cancer cells?</li>
              <li>What is the significance of the in vivo function of a drug compared to its effects in vitro?</li>
              <li>Is it recommended to conduct experiments in mice to confirm the in vivo effect of our nanoparticles?
              </li>
              <li>Can you elaborate on the potential benefits of combination therapy involving both first-line and
                second-line drugs?</li>
              <li>How are targeted therapy and immunotherapy interconnected, particularly in terms of stimulating immune
                responses through the release of antigens from diseased cells?</li>
            </ol>
          </div>
          <hr>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-kechun-zhang.jpg" alt="Professor Kechun ZHANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Si Lu</h3>
                <br>
                <p style="color:#009DBE">?</p>
                <p>?<br>
                  ?</p>
                <a href="#">?</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>Mr. Yang highlighted the type of nanoparticle material being used and suggested exploring
                    photo-thermal therapy as a means to heat this material.</li>
                  <li> According to him, surgery is currently the most effective therapy for tumors. Additionally, he
                    mentioned recent advancements in using Raman spectroscopy to differentiate between tumor and healthy
                    tissue boundaries.</li>
                  <li> Mr. Yang acknowledged that clinical trials often lag behind scientific research and emphasized
                    the strict restrictions on drug use, resulting in cautious drug development.</li>
                  <li> He also provided us with the China Breast Cancer Guidelines, which deepen our understanding of
                    breast cancer therapy.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="card mx-auto text-center">

          <!--问题-->
          <div class="card-header ani-card-header">Questions we asked</div>
          <div class="card-body ani-card-body">
            <ol>
              <li>Is using nanoparticles conjugated with antibodies meaningful if there is already a commercialized
                antibody, trastuzumab, for HER2 target therapy?</li>
              <li> Can trastuzumab be used as a control in our project?</li>
              <li>What is the recommendation for our project in terms of encapsulating drugs in nanoparticles to
                efficiently kill cancer cells and reduce side effects?</li>
              <li>Should we consider targeting other cancer cells since HER2-positive cells have already been
                extensively studied?</li>
              <li>How can we determine the concentration of our biosynthetic nanoparticles? Are Inductively Coupled
                Plasma Optical Emission Spectroscopy (ICP-OES) or Inductively Coupled Plasma Mass Spectrometry (ICP-MS)
                suitable methods for this purpose?</li>

            </ol>
          </div>
          <div class="card-body">
            <div class="subfield">
              <div class="left-column">
                <img src="https://static.igem.wiki/teams/4702/wiki/hp/hp-kechun-zhang.jpg" alt="Professor Kechun ZHANG"
                  width="250" height="">
                <h3 style="text-align: center;padding-top: 15px;">Lixian Yang</h3>
                <br>
                <p style="color:#009DBE">?</p>
                <p>?<br>
                  ?</p>
                <a href="#">?</a>
              </div>
              <div class="vertical-line"></div>
              <div class="right-column">
                <h3>Your title</h3>
                <ol>
                  <li>Ms.Yang thought that if we just use our nanoparticles conjugated with antibodies, the project will
                    not be promising and meaningful since there is already some commerialized antibodies, trastuzumab
                    for HER2 target therapy.</li>
                  <li>Another way she recommended is that we can use trastuzumab as a control.</li>
                  <li>So she recommended that we capsule some drug in the nanoparticles which can not only kill the
                    cancer cells efficiently but also reduce the side effects of the original chemotherapy.</li>
                  <li>Additionally she suggested we can try to target other cancer cells since HER2 positive cells have
                    been studied too much.</li>
                  <li>She noticed that we can't determine the concentration of our biosynthetic nanoparticles and she
                    added that concentration gradient test is crucial in clinical trial so we need to figure out its
                    concentration for further application. Later we checked out that Inductively Coupled Plasma Optical
                    Emission Spectroscopy (ICP-OES) or Inductively Coupled Plasma Mass Spectrometry (ICP-MS) may be
                    candidates.</li>

                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="bd-callout bd-callout-info">
        <h4>Silver Medal Criterion #2</h4>
        <p>Explain how you have determined your work is responsible and good for the world.</p>
        <hr>
        <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more
          information.</p>
      </div>

      <div class="bd-callout bd-callout-info">
        <h4>Best Integrated Human Practices</h4>
        <p>To compete for the Best Integrated Human Practices prize, please describe your work on this page and also
          fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging
            form</a>.</p>
        <p>How does your project affect society and how does society influence the direction of your project? How might
          ethical considerations and stakeholder input guide your project purpose and design and the experiments you
          conduct in the lab? How does this feedback enter into the process of your work all through the iGEM
          competition? Document a thoughtful and creative approach to exploring these questions and how your project
          evolved in the process to compete for this award!</p>
        <hr>
        <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more
          information.</p>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-8">
      <h2>Overview</h2>
      <hr>
      <p>At iGEM we believe societal considerations should be upfront and integrated throughout the design and execution
        of synthetic biology projects. “Human Practices” refers to iGEM teams' efforts to actively consider how the
        world affects their work and their work affects the world. Through your Human Practices activities, your team
        should demonstrate how you have thought carefully and creatively about whether your project is responsible and
        good for the world. We invite you to explore issues relating (but not limited) to the ethics, safety, security,
        and sustainability of your project, and to show how this exploration feeds back into your project purpose,
        design, and execution.</p>
      <p>Please note you can compete for the Silver Medal criterion #2 and the Best Integrated Human Practices prize
        with this page.</p>
      <p>For more information, please see the <a
          href="https://responsibility.igem.org/human-practices/what-is-human-practices">Human Practices Hub</a>.
      <p>On this page, your team should document all of your Human Practices work and activities. You should write about
        the Human Practices topics you considered in your project, document any activities you conducted to explore
        these topics (such as engaging with experts and stakeholders), describe why you took a particular approach
        (including referencing any work you built upon), and explain if and how you integrated takeaways from your Human
        Practices work back into your project purpose, design and/or execution.</p>
    </div>
    <div class="col-lg-4">
      <h2>Inspirations</h2>
      <hr>
      <ul>
        <li><a href="https://2019.igem.org/Team:Thessaly/Human_Practices">2019 Thessaly</a></li>
        <li><a href="https://2019.igem.org/Team:Linkoping_Sweden/Human_Practices">2019 Linkoping Sweden</a></li>
        <li><a href="https://2019.igem.org/Team:FDR-HB_Peru/Human_Practices">2019 FDR HB Peru</a></li>
        <li><a href="https://2020.igem.org/Team:William_and_Mary/Human_Practices">2020 William and Mary</a></li>
        <li><a href="https://2020.igem.org/Team:Rochester/Human_Practices">2020 Rochester</a></li>
        <li><a href="https://2020.igem.org/Team:Leiden/Human_Practices">2020 Leiden</a></li>
        <li><a href="https://2020.igem.org/Team:Baltimore_BioCrew/Human_Practices">2020 Baltimore BioCrew</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename = 'card.js') }}"></script>
{% endblock %}