{% extends "layout.html" %}

{% block title %}Medal{% endblock %}

{% block page_content %}
<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image:url('https://static.igem.wiki/teams/4702/wiki/medal/jamboree-teamphoto-2.jpg');background-size:cover">

  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Medal</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="card">
  <div class="video-container"
    style="position: relative; overflow: hidden; width: 80%; padding-top: 45%; margin: 0 auto;">
    <iframe title="Team Plaza Presentation" width="100%" height="auto"
      src="https://video.igem.org/videos/embed/dG1jKvZ4RVtGhiMw68HzcL" frameborder="0" allowfullscreen=""
      sandbox="allow-same-origin allow-scripts allow-popups"
      style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;"></iframe>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Model</h4>
      <p>Models and computer simulations provide a great way to describe the functioning and operation of BioBrick Parts
        and Devices. Synthetic biology is an engineering discipline and part of engineering is simulation and modeling
        to determine system behavior before building your design. Designing and simulating can be iterated many times in
        a computer before moving to the lab. This award is for teams who build a model of their system and use it to
        inform system design or simulate expected behavior before or in conjunction with experiments in the wetlab.</p>
      <p>To compete for the Best Model prize, please describe your work on this page and also fill out the description
        on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.
      </p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>Mathematical models and computer simulations provide a great way to describe the function and operation of Parts
      and Devices. Synthetic Biology is an engineering discipline, and part of engineering is simulation and modeling to
      determine the behavior of your design before you build it. Designing and simulating can be iterated many times in
      a computer before moving to the lab.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="http://2018.igem.org/Team:GreatBay_China/Model">2018 GreatBay China</a></li>
      <li><a href="http://2018.igem.org/Team:Leiden/Model">2018 Leiden</a></li>
      <li><a href="https://2019.igem.org/Team:IISER_Kolkata/Model">2019 IISER Kolkata</a></li>
      <li><a href="https://2019.igem.org/Team:Exeter/Model">2019 Exeter</a></li>
      <li><a href="https://2019.igem.org/Team:Mingdao/Model">2019 Mingdao</a></li>
      <li><a href="https://2020.igem.org/Team:Harvard/Model">2020 Harvard</a></li>
      <li><a href="https://2020.igem.org/Team:Leiden/Model">2020 Leiden</a></li>
    </ul>
  </div>
</div>

{% endblock %}