{% extends "layout.html" %}

{% block title %}Medal{% endblock %}

{% block page_content %}
<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">
<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image:url('https://static.igem.wiki/teams/4702/wiki/medal/jamboree-teamphoto-2.jpg');background-size:cover">

  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Medal</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row" style="padding-bottom: 150px;">
  <div id="sidebar" class=" ol-md-3  sidebar  flex-column flex-shrink-0 p-3  ">
    <hr class="hr-ani">
    <ul class="navigation nav nav-pills flex-column mb-auto">
      <li>
        <a href="#medal" class="nav-link">
          Gold Medal
        </a>
      </li>
      <li>
        <a href="#nomination" class="nav-link">
          Best Entreperneurship Nomination
        </a>
      </li>
      <li>
        <a href="#presentation" class="nav-link">
          Presentation Video
        </a>
      </li>
    </ul>
    <hr class="hr-ani">
  </div>
  <div class="mp-content offset-md-2 col-md-9 col-lg-9 ">
    <div id="medal" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Gold
            Medal</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-4">
              <img src="https://static.igem.wiki/teams/4702/wiki/medal/gold-medal.png" class="img-fluid" width="100%">
            </div>
            <div class="col-lg-8 ">
              <p  class="medal-text">text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="nomination" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Best
            Entreperneurship Nomination</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-4">
              <img src="https://static.igem.wiki/teams/4702/wiki/medal/entrepreneurship.svg" class="img-fluid">
            </div>
            <div class="col-lg-8 " style="vertical-align: middle;">
              <p class="medal-text" >text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="presentation" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Presentation
            Video</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-12">
              <div class="video-container"
                style="position: relative; overflow: hidden; width: 80%; padding-top: 45%; margin: 0 auto;">
                <iframe title="Team Plaza Presentation" width="100%" height="auto"
                  src="https://video.igem.org/videos/embed/dG1jKvZ4RVtGhiMw68HzcL" frameborder="0" allowfullscreen=""
                  sandbox="allow-same-origin allow-scripts allow-popups"
                  style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .medal-text {
    vertical-align: middle;
    font-size: 1.5rem;
    padding:30px 60px;
  }
</style>
<script src="{{ url_for('static', filename = 'card.js') }}"></script>
{% endblock %}