{% extends "layout.html" %}


{% block title %}Notebook{% endblock %}

{% block page_content %}




<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'safety.css') }}" rel="stylesheet">

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image:url('https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook.jpg');background-size:cover">

  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Safety</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  /* 使用CSS来控制图片的样式和布局 */
  .image-container {
    display: flex;
    /* 使用flex布局 */
    justify-content: space-between;
    /* 图片之间的空间均匀分配 */
  }

  .image {
    width: 30%;
    /* 图片占父容器宽度的30% */
    margin: 5px;
    /* 图片之间的间距 */
  }
</style>

<style>
  /* 使用CSS来控制图片的样式和布局 */
  .image {
    float: left;
    /* 让图片从左至右浮动 */
    margin-right: 10px;
    /* 图片之间的右侧间距 */
  }
</style>

<style>
  .card-header:hover {
    cursor: pointer;
    background-color: #bae8fd;
    /* 悬停时颜色变化 */

  }
</style>
<!--sidebar-->
<div class="row">
  <div id="sidebar" class=" ol-md-3 offset-md-1 sidebar  flex-column flex-shrink-0 p-3  ">
    <hr>
    <ul class="navigation nav nav-pills flex-column mb-auto">
      <li>
        <a href="#Introduction" class="nav-link">
          Introduction
        </a>
      </li>
      <li>
        <a href="#Lab Safety" class="nav-link">
          Lab safety
        </a>
      </li>
      <li>
        <a href="#Biological Safty" class="nav-link">
          Biological Safty
        </a>
      </li>
      <li>
        <a href="#Human Practices Safety" class="nav-link">
          Human Practices Safety
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <!--<div class="col-lg-3 col-md-3" style="overflow:auto;vertical-align:middle">
  <ul class="navigation">
    <li><a href="January">January</a></li>
  </ul>
  </div>-->
</div>
<div class="mp-content offset-md-3 col-md-9 col-lg-9 ">
  <div id="Introduction" class="month gaspcol">
    <div class="container mx-auto mt-5 w-90">
      <h1 class="pt-5 mx-auto text-center">
        Introduction
      </h1>
      <hr class="hr-ani">
      <br>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-3 mb-3 ">
          <br>
          Ensuring a safe and secure working environment is a fundamental aspect of responsible innovation and
          research.
          Our commitment to minimizing risks extends not only to our iGEM team but also to our university
          colleagues, the broader society,
          and the environment. To achieve this, we adopt a comprehensive safety approach that encompasses various
          aspects,
          ranging from physical and laboratory-related hazards to the safety of our project's design.
          <br>
          On this page, we will delve into the safety measures that we have meticulously integrated into both the
          design and experimental phases of our project.
          These measures are intended to identify and mitigate potential risks, thereby creating an environment
          where innovation can thrive responsibly.
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div class="image-container">
          <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
            alt="GFP expression level under different concentration of ferric ion treatment" class="image">
          <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
            alt="GFP expression level under different concentration of ferric ion treatment" class="image">
          <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
            alt="GFP expression level under different concentration of ferric ion treatment" class="image">
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        All research conducted by the iGEM team Westlake-China 2023 complies with the 2023 iGEM safety policies and
        rules.
        The majority of the organisms and parts used and/or generated are listed on the iGEM 2022 White List.
        Throughout the entire development of our program, we adhere strictly to all national and institutional rules
        and regulations.
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
</div>

<div class="mp-content offset-md-3 col-md-9 col-lg-9 ">
  <div id="Lab Safty" class="month gaspcol">
    <div class="container mx-auto mt-5 w-90">
      <h1 class="pt-5 mx-auto text-center">
        Lab Safety
      </h1>
      <hr class="hr-ani">
      <br>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-3 mb-3 ">
          <br>
          <strong>Safety Features of our labs</strong>
          <br><br>
          As our wet lab is divided into cell experiment and bacterial experimentAs,
          our team is working partially in biosafety levels 1 and 2 classified labs.
          All of the team members had to follow multiple introduction sessions given by the lab technician of each lab.
          These introductions elaborately covered safety policies and rules inside the specific labs. The location of
          all safety equipment was shown during our training.

          <br><br>
          Experimentation is conducted in our lab of which is equipped with safety features including:
          <br><br>
          1.Biosafety Cabinet<br><br>
          2.First Aid Kit<br><br>
          3.Extinguisher<br><br>
          4.Flame Retardant Benches<br><br>
          5.Spill Kits<br><br>
          <div class="justify-content image-container" style="justify-content: space-between;">
            <img src="https://static.igem.wiki/teams/4702/wiki//safety/1.png"
              alt="Lab Safety Figures Display" class="image" style="width: 40%;margin-left:0;margin-right:0">
            <img src="https://static.igem.wiki/teams/4702/wiki//safety/2.png"
              alt="Lab Safety Figures Display" class="image" style="width: 50%;margin-left:0;margin-right:0">
          </div>
          <hr>
          <br>
          <br>
          <strong>Safety tests (required by school)</strong>
          <br><br>
          Before students can access and work in a laboratory at Westlake University,
          they are mandated to complete and pass safety courses meticulously developed by our Lab Asfety Education and
          Training Platform.
          This ensures that students working in our labs are well-informed about the inherent risks associated with
          laboratory work and are proficient in implementing measures to prevent and manage potential accidents.
          <br>
          <br>
          <br>
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
          </div>
          <br>
          <br>
          <hr>
          <br>
          <br>
          <strong>Waste Disposal</strong>
          <br><br>
          Students are reminded to diligently label all solutions and plates and to ensure the proper disposal of waste
          materials into their respective bins.
          Separate bins are provided for general waste, bio-hazardous waste, and gloves. Items such as pipette tips,
          gels, Eppendorf tubes, and Falcon tubes used during experiments are disposed of in biohazard waste bins.
          The contents of these bins are subsequently handled by more experienced personnel.
          <br>
          Furthermore, students conducting experiments in the laboratory are continually supervised by qualified
          advisors and strictly adhere to designated working hours. measures to prevent and manage potential accidents.
          <br>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="mp-content offset-md-3 col-md-9 col-lg-9 ">
  <div id="Biological Safty" class="month gaspcol">
    <div class="container mx-auto mt-5 w-90">
      <h1 class="pt-5 mx-auto text-center">
        Biological Safty
      </h1>
      <hr class="hr-ani">
      <br>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-3 mb-3 ">
          <br>
          <strong>Vectors</strong>
          <br><br>
          For our project, we used multiple vectors, of which detailed information can be found on the Parts wiki page.
          Moreover, we used Shuffle strain and BL21 to express GFP and scFv designed by us, for Part improvement.
          <br>
          <br>
          <strong>Bacteria Strains</strong>
          <br><br>
          In our research, we employed a variety of <i>E. coli</i> strains.
          For more efficient transformations and expression, we tried BL21 and SHuffle strain.
          Notably, all these cells have been modified for safe use in an BL-1 lab setting. Any lab work involving
          GMO-based bacteria was diligently recorded in the GMO notebook available within the laboratory.
          <br>
          <br>
          <strong>Mammalian Cell lines</strong>
          <br><br>
          Because our antibody design is aimed at targeting HER2 antibodies in breast cancer cells, we need to use both
          HER2-negative and HER2-positive cell lines.
          For the HER2-positive cell lines, we selected SK-BR-3 and BT-474, and for the HER2-negative cell line, we
          chose MDA-MB-231.
          All the cell line is categorized in Risk group 1 in the Netherlands.
          <br>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.js"></script>
<script src="{{ url_for('static', filename = 'card.js') }}"></script>
<script src="{{ url_for('static', filename = 'pdf.js') }}"></script>

<script>

</script>
{% endblock %}