{% extends "layout.html" %}


{% block title %}Safety{% endblock %}

{% block page_content %}




<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'safety.css') }}" rel="stylesheet">

<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image:url('https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook.jpg');background-size:cover">

  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Safety</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
              Detailed information about our project's safety in three fields.
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  /* 使用CSS来控制图片的样式和布局 */
  .image-container {
    display: flex;
    /* 使用flex布局 */
    justify-content: space-between;
    /* 图片之间的空间均匀分配 */
  }

  .image {
    width: 30%;
    /* 图片占父容器宽度的30% */
    margin: 5px;
    /* 图片之间的间距 */
  }
</style>

<style>
  /* 使用CSS来控制图片的样式和布局 */
  .image {
    float: left;
    /* 让图片从左至右浮动 */
    margin-right: 10px;
    /* 图片之间的右侧间距 */
  }
</style>

<style>
  .card-header:hover {
    cursor: pointer;
    background-color: #bae8fd;
    /* 悬停时颜色变化 */

  }
</style>
<!--sidebar-->
<div class="row">
  <div id="sidebar" class=" ol-md-3  sidebar  flex-column flex-shrink-0 p-3  ">
    <hr class="hr-ani">
    <ul class="navigation nav nav-pills flex-column mb-auto">
      <li>
        <a href="#Introduction" class="nav-link">
          Introduction
        </a>
      </li>
      <li>
        <a href="#Lab Safety" class="nav-link">
          Lab Safety
        </a>
      </li>
      <li>
        <a href="#Biological Safety" class="nav-link">
          Biological Safety
        </a>
      </li>
      <li>
        <a href="#Human Practices Safety" class="nav-link">
          Human Practices Safety
        </a>
      </li>
    </ul>
    <hr class="hr-ani">
  </div>
  <!--<div class="col-lg-3 col-md-3" style="overflow:auto;vertical-align:middle">
  <ul class="navigation">
    <li><a href="January">January</a></li>
  </ul>
  </div>-->
</div>
<div class="mp-content offset-md-2 col-md-9 col-lg-9 ">
  <div id="Introduction" class="month gaspcol">
    <div class="container mx-auto mt-5 w-90">
      <h1 class="pt-5 mx-auto text-center" style="">
        <span
          style="background-color: rgb(254,232,154); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Introduction</span>
      </h1>
      <hr class="hr-ani">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-3 mb-3 ">
          <br>
          Ensuring a safe and secure working environment is a fundamental aspect of responsible innovation and
          research.
          Our commitment to minimizing risks extends not only to our iGEM team but also to our university
          colleagues, the broader society,
          and the environment. To achieve this, we adopt a comprehensive safety approach that encompasses various
          aspects,
          ranging from physical and laboratory-related hazards to the safety of our project's design.
          <br>
          On this page, we will delve into the safety measures that we have meticulously integrated into both the
          design and experimental phases of our project.
          These measures are intended to identify and mitigate potential risks, thereby creating an environment
          where innovation can thrive responsibly.
          <br>
          <br>
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
          </div>
          <br>
          <p>All research conducted by the iGEM team Westlake-China 2023 complies with the 2023 iGEM safety policies and
            rules.
            The majority of the organisms and parts used and/or generated are listed on the iGEM 2022 White List.
            Throughout the entire development of our program, we adhere strictly to all national and institutional rules
            and regulations.</p>

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div id="Lab Safety" class="month gaspcol">
    <div class="container mx-auto mt-5 w-90">
      <h1 class="pt-5 mx-auto text-center" style="">
        <span style="background-color: rgb(254,232,154); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Lab
          Safety</span>
      </h1>
      <hr class="hr-ani">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-3 mb-3 ">
          <h3>Safety Features of our labs</h3>
          <hr>
          As our wet lab is divided into cell experiment and bacterial experimentAs,
          our team is working partially in biosafety levels 1 and 2 classified labs.
          All of the team members had to follow multiple introduction sessions given by the lab technician of each lab.
          These introductions elaborately covered safety policies and rules inside the specific labs. The location of
          all
          safety equipment was shown during our training.

          <br><br>
          Experimentation is conducted in our lab of which is equipped with safety features including:
          <br><br>
          1.Biosafety Cabinet<br><br>
          2.First Aid Kit<br><br>
          3.Extinguisher<br><br>
          4.Flame Retardant Benches<br><br>
          5.Spill Kits<br><br>
          <br>
          <h3>Safety tests (required by school)</h3>
          <hr>
          <p>Before students can access and work in a laboratory at Westlake University,
            they are mandated to complete and pass safety courses meticulously developed by our Lab Asfety Education and
            Training Platform.
            This ensures that students working in our labs are well-informed about the inherent risks associated with
            laboratory work and are proficient in implementing measures to prevent and manage potential accidents.</p>
          <br>
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
            <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/notebook-6-23-1.png"
              alt="GFP expression level under different concentration of ferric ion treatment" class="image">
          </div>
          <br>
          <br>
          <h3>Waste Disposal</h3>
          <hr>
          <p>Students are reminded to diligently label all solutions and plates and to ensure the proper disposal of waste
          materials into their respective bins.
          Separate bins are provided for general waste, bio-hazardous waste, and gloves. Items such as pipette tips,
          gels,
          Eppendorf tubes, and Falcon tubes used during experiments are disposed of in biohazard waste bins.
          The contents of these bins are subsequently handled by more experienced personnel.</p>
          <br>
          <p>Furthermore, students conducting experiments in the laboratory are continually supervised by qualified
          advisors
          and strictly adhere to designated working hours. measures to prevent and manage potential accidents.</p>
          <br>
          <br>
          <h3>Biology Laboratory Safety Instructions</h3>
          <hr>
          <p>Emergency Call:</p>
          <ul>
            <li>
              Fire and Safety: 0571-88119110 </li>
            <li>
              Medical Aid: 0571-88110891</li>
            <li>
              Laboratory Contact Information: 15155936065 (Phone)
            </li>
          </ul>
          <p>General Safety Rules:</p>
          <ol>
            <li>Behave responsibly. No horseplay or fooling around while in lab.</li>
            <li>Do not bring any food or beverages into lab, and do not eat, drink, smoke, chew gum, chew tobacco, or
              apply cosmetics when in lab. Never taste anything in lab. Do not put anything in lab into your mouth.
              Avoid touching your face, chewing on pens, and other similar behaviors while in lab.</li>
            <li>Be properly dressed when working in the lab. Wear a lab coat and closed-toe shoes. If you have long
              hair, tie it back. Don’t wear dangling jewelry. If you are using open flames, roll up loose sleeves.
              Wear contact lenses at your own risk; contacts hold substances against the eye and make it difficult to
              wash your eyes thoroughly.</li>
            <li>Unless you are told otherwise by your instructor, assume that all chemicals and solutions in lab are
              poisonous, and act accordingly. Clean up all spills immediately and report all spills to your
              instructor.</li>
            <li>Wear safety goggles when working with chemicals. Carefully read the labels on bottles and know the
              chemical you are dealing with. Do not use chemicals from an unlabeled container. Report all spills to
              your instructor immediately.</li>
            <li>Unless your instructor tells you to do otherwise, do not pour any solutions down the drain. Dispose of
              all materials as per instructions from your instructor.</li>
            <li>Treat living organisms with care and respect.</li>
            <li>Your instructor will tell you the locations of lab safety equipment, including fire extinguishers, fire
              blanket, eyewash stations, and emergency showers. Familiarize yourself with the location and operation of
              this equipment.</li>
            <li>If anything is splashed into your eyes, wash your eyes thoroughly and immediately. Tell your lab
              instructor what happened.</li>
            <li>Notify your instructor of any allergies to latex, chemicals, stings, or other substances.</li>
            <li>If you break any glassware, do not pick up the pieces of broken glass with your hands. Instead, use a
              broom and dustpan to gather the broken glass. Ask your instructor how to dispose of the glass.</li>
            <li>Unless told by your instructor to do otherwise, work only during regular, assigned hours when the
              instructor is present. Do not conduct any unauthorized experiments; for example, do not mix any
              chemicals without your instructor’s approval.</li>
            <li>Do not leave any experiments unattended unless you are authorized by your instructor to do so. If you
              leave your work area, slide your chair under the lab table. Keep walkways and desktops clean and clear
              by putting books, backpacks, and so on along the edge of the room, in the hall, in a locker, or in an
              adjacent room. Keep your work area as clean and uncluttered as possible.</li>
            <li>Don’t touch or put anything on the surface of hotplates unless told to do so. Many types of hotplates
              unless told to do so. Many types of hotplates have no visible sign that they are hot. Assume they are hot.
            </li>
            <li>Know how to use the equipment in lab. Most of the equipment is expensive; you may be required to pay
              all or part of its replacement cost. Keep water and solutions away from equipment and electrical
              outlets. Report malfunctioning equipment to your instructor. Leave equipment in the same place and
              condition that you found it. If you have any questions about or problems with equipment, contact your
              instructor.</li>
            <li>Know what to do and whom to contact if there is an emergency. Know the fastest way to get out of the
              lab. Immediately report all injuries—no matter how minor—to your instructor. Seek medical attention
              immediately if needed.</li>
            <li>At the end of each lab, clean your work area, wash your hands thoroughly with soap, slide your chair
              under the lab table, and return all equipment and supplies to their original locations. Do not remove
              any chemicals or equipment from the lab.</li>
          </ol>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div id="Biological Safety" class="month gaspcol">
    <div class="container mx-auto mt-5 w-90">
      <h1 class="pt-5 mx-auto text-center" style="">
        <span
          style="background-color: rgb(254,232,154); padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Biological
          Safety</span>
      </h1>
      <hr class="hr-ani">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-3 mb-3 ">
          <h3>Vectors</h3>
          <hr>
          <p>For our project, we used multiple vectors, of which detailed information can be found on the Parts wiki page.
          Moreover, we used Shuffle strain and BL21 to express GFP and scFv designed by us, for Part improvement.</p>
          <br>
          <h3>Bacteria Strains</h3><hr>
          <p>In our research, we employed a variety of E. coli strains.
          For more efficient transformations and expression, we tried BL21 and SHuffle strain.
          Notably, all these cells have been modified for safe use in an BL-1 lab setting. Any lab work involving
          GMO-based bacteria was diligently recorded in the GMO notebook available within the laboratory.</p>
          <br>
          <h3>Mammalian Cell lines</h3><hr>
          <p>Because our antibody design is aimed at targeting HER2 antibodies in breast cancer cells, we need to use both
          HER2-negative and HER2-positive cell lines.
          For the HER2-positive cell lines, we selected SK-BR-3 and BT-474, and for the HER2-negative cell line, we
          chose
          MDA-MB-231.
          All the cell line is categorized in Risk group 1 in the Netherlands.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.js"></script>
<script src="{{ url_for('static', filename = 'card.js') }}"></script>
<script src="{{ url_for('static', filename = 'pdf.js') }}"></script>

<script>

</script>
{% endblock %}