{% extends "layout.html" %}

{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more
accessible to our community.{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename = 'card.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id="cover-image"
  style="background-image:url('https://static.igem.wiki/teams/4702/wiki/software/particle-size-distribution-counter/software/cover-2.png');background-size:cover">

  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
      <div class="row">
        <div class="">
          <p class="text-light">Software</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
            </p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row" style="padding-bottom: 150px;">
  <div id="sidebar" class=" ol-md-3  sidebar  flex-column flex-shrink-0 p-3  ">
    <hr class="hr-ani">
    <ul class="navigation nav nav-pills flex-column mb-auto">
      <li>
        <a href="#1" class="nav-link">
          Summary
        </a>
      </li>
      <li>
        <a href="#2" class="nav-link">
          Nanoparticle Size Distribution Generator
        </a>
      </li>
      <li>
        <a href="#3" class="nav-link">
          High-throughput Cell Mean Fluorescent Processor
        </a>
      </li>
    </ul>
    <hr class="hr-ani">
  </div>
  <div class="mp-content offset-md-2 col-md-9 col-lg-9 ">
    <div id="1" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span
            style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">Summary</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-12">
              <p>
                During our wet lab result analysis process, we encountered huge amount of data, and that's the point we
                found the necessity of high throughput software for the tedious repeat process for the data analysis.
                <br><br>Specifically, since we are synthesizing the iron oxide nanoparticles, we need to determine the
                size distribution of the nanoparticle to judge the quality of the condition for synthesis, to deal with
                large amount of data, we developed a software which could identify the nanoparticles in TEM result
                figure and generate the diameter distribution statictis of the nanoparticles.
                <br><br>And the other software is to help bunch analysis of the mean fluorescent intensity of confocal
                figures. Generally we only need to type in the folder address and the program would generate the excel
                file containing the mean fluorescent intensity result.
                <br><br>Note that both the software could be "fine-tuned" by user's own requirement for data analysis,
                and we also give a detailed guideline for customization of your own data analysis helper!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="2" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">
            Nanoparticle Size Distribution Generator</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-12">
              <p>We developed the Nanoparticle Size Distribution Counter software. This tool is designed to simplify and
                expedite the analysis of multiple types of photos like Transmission Electron Microscopy (TEM) graphs,
                microscopy graphs ect., enabling researchers to obtain accurate and comprehensive statistical
                information about particle size distributions within a given sample.</p>
              <h2>Description</h2>
              <p>Our software uses Electron as the frontend frame and Python as the backend language. Its mechanism is
                based on OpenCV, including image processing algorithms and statistical modeling techniques. The main
                code can be divided by 4 steps:
                <br><br>
                1. Extract a plotting scale from the scaled image (make sure the color is white).
                <br>2. Balance the image's lightness for more accurate recognition.
                <br>3. Apply algorithms for the image adjustment.
                <br>4. Draw the coutours of the nanoparticles and collect the diameters
                <br><br>
                It is important to note that the accuracy of the results depends on the quality of the input graph.
                Therefore, it is recommended to ensure high-resolution and well-defined images for optimal analysis.
                Additionally, users have the option to customize various parameters.<br><br>
                Furthermore, when the object is very large (just one in the image), we can accurately measure its
                diameter (the scale should be black though). This code is Diameter-Measurement.py, simple but useful.
                And you can just enter the folder's name, this program will automatically process every image and export
                the data to output.xlsx
              </p>
              <h3>Installation</h3>
              <p>
                Install npm <a href="https://nodejs.org/en">download npm</a>
                <br><br>
                Open cmd in the root dir:
                <br>npm install electron
                <br>npm install echart
                <br>npm run start
                <br>Relevant Doc: <a href="https://www.electronjs.org/docs/latest/tutorial/tutorial-first-app">Building
                  your First App</a>
                <br><br>
                Packages for Python:
                <br>import cv2
                <br>import numpy
                <br>import os
                <br>import math
                <br>import matplotlib.pyplot
                <br>import sys
              </p>
              <h2>Usage</h2>
              1. Take a TEM graph with a white plotting scale like the following one:
              <div align="center">
                <img
                  src="https://static.igem.wiki/teams/4702/wiki/software/particle-size-distribution-counter/example.jpg"
                  width="80%" alt="Sample TEM graph">
              </div><br>
              <br>
              2. After entering the app, you can choose the file's path and enter the min-radius, max-radius, scale and
              width of the distribution bars in the scale's unit. Then Click to process image!<br><br>
              <div align="center">
                <img
                  src="https://static.igem.wiki/teams/4702/wiki/software/particle-size-distribution-counter/main-display.png"
                  width="80%" alt="input interface">
              </div>
              <br>3. Then the app will generate an image with nanoparticles contoured with green color and circled with
              red color.<br><br>
              <div align="center">
                <img
                  src="https://static.igem.wiki/teams/4702/wiki/software/particle-size-distribution-counter/image.jpg"
                  width="80%" alt="Output">
              </div>
              <br>And it will generate a bar graph, providing users with a clear and intuitive visualization of the
              particle size distribution.<br><br>
              <div align="center">
                <img src="https://static.igem.wiki/teams/4702/wiki/software/particle-size-distribution-counter/bar.png"
                  width="80%" alt="Output">
              </div><br><br><br>
              <h2>
                Contributing
              </h2>
              <p>This code is open to contributions.
              </p>
              <h2>Authors and acknowledgment
              </h2>
              <p>The inspiration of this script came from Shouyi HU, and Haotian SHEN brought it into codes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="3" class="month gaspcol">
      <div class="container mx-auto w-90">
        <h1 class=" mx-auto text-center" style="">
          <span style="background-color: rgb(232,250,248);  padding: 0px 10px;margin-bottom: 20px;border-radius: 20px">
            High-throughput Cell Mean Fluorescent Processor</span>
        </h1>
        <hr class="hr-ani">
        <div class="shadow-lg p-5 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-lg-12">
              <h2>Background</h2>
              <p>Although our starting point was a quantitative analysis of antibodies bound to the cell, actually, the
                study of fluorescence intensity can also be used to quantify protein expression levels, examine changes
                in cellular processes, and compare signal intensities between different samples or experimental
                conditions. Our project involves validating antibody-cell connections in cell experiments by observing
                confocal fluorescence intensity. Considering that confocal analysis is a widely used technique in
                current research, and standardization of confocal data image processing often involves repetitive
                selection steps to calculate average fluorescence intensity.</p>
              <h2>Introduction</h2>
              <p>We have developed a script specifically designed for high-throughput analysis of confocal image
                fluorescence intensity, inspired by the tedious data processing in wet lab experiments. This script
                provides the high throughput processing of TIF images using macro language in Fiji. With our program, we
                can directly perform automatic normalization and statistical analysis of fluorescence intensity for all
                images in a given folder, significantly reducing repetitive workload and streamlining the process.
                Actually, you can change the core codes with different functions in this high-throughput frame.</p>
              <h2>Startup</h2>
              <p>1. Download Fiji via <a
                  href=" https://imagej.net/software/fiji/downloads">https://imagej.net/software/fiji/downloads</a>.
                <br>2. Open Process_Folder.ijm in the Fiji app and click the "run" button at the bottom of the window.
                <br>3. Choose the input directory containing the images and the output directory for the resulting data,
                which
                would be an Excel file.
              </p>
              <h2>Code Procedure</h2>
              <p>
                1. This code block is used for the input interface.
              <pre>
                  <code class="ImageJ Macro">
  #@ File (label = "Input directory", style = "directory") input
  #@ File (label = "Output directory", style = "directory") output
  #@ String (label = "File suffix", value = ".tif") suffix
  #@ String (label = "Keyword", value = "keyword") keyword
                  </code>
                </pre>
              <br><br>
              <div align="center">
                <img src="https://static.igem.wiki/teams/4702/wiki/software/mean-fluorescence-intensity/input.png"
                  width="80%" alt="Output">
              </div><br><br><br>
              2. After initialization, we will first start file processing, that is, finding every file in the specific
              folder (having subfolders) with the correct suffix and keyword.
              <pre>
                <code class="ImageJ Macro">
  // Initialize a counter for processed files
  n = 0;
  // Start processing the input folder
  processFolder(input);

  // Function to scan folders/subfolders/files to find files with the correct suffix and keyword
  function processFolder(input) {
      // Get a list of files in the input directory
      list = getFileList(input);
      // Iterate through the list of files
      for (i = 0; i < list.length; i++) {
          // Check if the current item is a directory
          if (File.isDirectory(input + File.separator + list[i]))
              // Recursively process subfolders
              processFolder(input + File.separator + list[i]);
          else if (endsWith(list[i], suffix) && (indexOf(list[i], keyword) >= 0)) {
              // If the file has the correct suffix and contains the keyword, process it
              processFile(input, output, list[i], n);
              // Increment the counter
              n = n + 1;
          }
      }
  }
                  </code>
              </pre>
              <br><br>
              3. Now we can just process every single image and measure their Mean Fluorescence Intensity! (Of course,
              you can DIY everything just using the recorder in ImageJ.)
              <pre>
                <code class="ImageJ Macro">
  function processFile(input, output, file, index) {

    print("Processing: " + input + File.separator + file);
    print("Saving to: " + output);
    open(input + File.separator + file);
    // You can simply copy the commands from the recorder to replace the following code
    run("32-bit");
    close("");
    setAutoThreshold("Default dark no-reset");
    //run("Threshold...");
    run("Set Measurements...", "display area mean standard modal min integrated limit redirect=None decimal=3");
    run("Measure");
    setResult("File Name", index, file);
    saveAs("Results", output + File.separator + "Results.xls");
    close("*");
  }
                </code>
              </pre>
              <br><br>
              4. Methods of DIY
              <br><br>
              Firstly, you should open the recorder to see what you will do in the form of Macro.
              <br><br>
              <div align="center">
                <img src="https://static.igem.wiki/teams/4702/wiki/software/mean-fluorescence-intensity/record.png"
                  width="80%" alt="Output">
              </div><br><br><br>
              - Remember to choose Macro language.
              <br><br>
              <div align="center">
                <img src="https://static.igem.wiki/teams/4702/wiki/software/mean-fluorescence-intensity/recorder.png"
                  width="80%" alt="Output">
              </div><br><br><br>
              - Now you can perform your measurement and every step will be recorded!
              </p>
              <h2>Contributing</h2>
              <p>
                This code is open to contributions.
              </p>
              <h2>Authors and acknowledgment</h2>
              <p>The inspiration of this script came from Shouyi HU and Yixiao XIAO, and Haotian SHEN brought it into
                codes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>


{% endblock %}