{% extends "layout.html" %}


{% block page_content %}
<!-- Header -->
<link href="{{ url_for('static', filename = 'header.css') }}" rel="stylesheet">
<div class="sky single_slider d-flex align-items-center" id = "cover-image"style="background-image: url('https://static.igem.wiki/teams/4702/wiki/people-photo/groupphoto-modify-1.jpg');background-size:cover">
  <section class="col-md-12 text-center">
    <script src="https://files.cnblogs.com/files/cn-suqingnian/snow.js"></script>
    <div class="container header">
        <div class="">
          <p class="text-light">Team</p>
          <div class=" ">
            <p class="lead text-white-50" style="font-family:'Times New Roman', Times, serif;">
              Our energetic team consists of twelve students from different subjects in STEM study, one highly supportive principal
              investigator, one amazing instructor and one helpful advisor.
              We devoted ourselves to our project over the past several months with unwavering motivation and steadfast commitment. 
              We take great pride in both our work and the camaraderie we developed with one another.</p>
            <button class="custom-btn btn-header "><span>Click!</span><span>Read More</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<link href="{{ url_for('static', filename = 'team.css') }}" rel="stylesheet">


<div class="wrapper--team gaspcol">

  <div class="l-container">
    <hr>
    <h1 class=" mx-auto text-center">
      Members
    </h1>
    <div class="team-grid ">
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              The bird's attachment to the tree sustains the eternal love
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/gehua-weng.jpg" alt="Gehua WENG">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Gehua WENG</h1>
            </a>
            <h3 class="member__title">Student Leader</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">It may elude us, <br>but at least we tried.</h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/shuoyi-hu.jpg" alt="Shuoyi HU">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Shuoyi HU</h1>
            </a>
            <h3 class="member__title">Student Leader</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">I came, I saw, I conquered</h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/haotian-shen.jpg" alt="Haotian SHEN">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Haotian SHEN</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">Do not go gentle into that good night.</h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/shijie-he.jpg" alt="Shijie HE">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Shijie HE</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              Failure is the last test of fortitude.
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/songnan-ren.jpg" alt="Songnan REN">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Songnan REN</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              Practice makes perfect.
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/yuchen-jiang.jpg" alt="Yuchen JIANG">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yuchen JIANG</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              Live every minute to the fullest.
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/yixiao-xiao.jpg" alt="Yixiao XIAO">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yixiao XIAO</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              Salvation lies within
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/mingchun-xu.jpg" alt="Mingchun XU">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Mingchun XU</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">The best way to predict the future is to create it.</h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/chenxu-liu.jpg" alt="Chenxu LIU">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Chenxu LIU</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              Don't think that everything lasts forever, such as parents and money and youth and house and white shirt and you and me
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/yuqi-shen.jpg" alt="Yuqi SHEN">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yuqi SHEN</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
              To the stars, through hardships.
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/songyuan-xue.jpg" alt="Songyuan XUE">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Songyuan XUE</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">Don't go through life, grow through life.</h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/hp/people-photo/ziqiao-wang.jpg" alt="Ziqiao WANG">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Ziqiao WANG</h1>
            </a>
            <h3 class="member__title">Student Member</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-container">
    <hr>
    <h1 class=" mx-auto text-center">
      Supervisors
    </h1>

    <div class="team-grid ">
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/people-photo/gcc.jpg" alt="Chengchen GUO">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Chengchen GUO</h1>
            </a>
            <h3 class="member__title">Principal Investigator</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content"> You never fail until you stop trying.
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/people-photo/img-202309302131-1050x1500.jpg" alt="Yanbo MAO">
        <div class="card member-content ">

          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yanbo MAO</h1>
            </a>
            <h3 class="member__title">Instructor</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-container" style="margin-bottom: 200px;">
    <hr>
    <h1 class=" mx-auto text-center">
      Advisor
    </h1>

    <div class="team-grid">
      <div class="team-grid__member hover">
        <div class="member__info">

          <div class="center-vert-content">
            <h4 class="member_content">
            </h4>
          </div>
        </div>
        <img src="https://static.igem.wiki/teams/4702/wiki/result-for-notebook/people-photo/shisonglin.jpg" alt="Songlin SHI">
        <div class="card member-content ">
          <div class="card-body">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Songlin SHI</h1>
            </a>
            <h3 class="member__title">Advisor</h3>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>



{% endblock %}