{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}

Our energetic team consists of 12 students from different subjects in STEM study, one highly supportive principal investigator, one amazing instructor and one helpful advisor.
We devoted ourselves to our project over the past several months with unwavering motivation and steadfast commitment. \
We take great pride in both our work and the camaraderie we developed with one another.

{% endblock %}

{% block page_content %}
<link href="{{ url_for('static', filename = 'team.css') }}" rel="stylesheet">

<div class="wrapper--team">

  <div class="l-container">
    <hr>
    <h1 class=" mx-auto text-center">
      Members
    </h1>
    <div class="team-grid">
      <div class="team-grid__member hover">
        <div class="member__info">
            
            <div class="center-vert-content"> 
              <h4 class="member_content">Studentdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddader</h4>
            </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Gehua WENG">
        <div class="card member-content ">
          <div class="card-body">
              <a class="member__link" href="attributions#1">
                <h1 class="member__name">Gehua WENG</h1>
              </a>
              <h3 class="member__title">Student Leader</h3>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Gehua WENG</h1>
            </a>
            <h3 class="member__title">Student Leader</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Gehua WENG">
        <div class="card member-content ">
          <div class="card-body">
            <p> Hello WGH</p>
            <p> Hello WGH</p>
            <p> Hello WGH</p>
            <p> Hello WGH</p>
            <p> Hello WGH</p>
          </div>
        </div>
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Shuoyi HU</h1>
            </a>
            <h3 class="member__title">Student Leader</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Shuoyi HU">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Shijie HE</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Shijie HE">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Haotian SHEN</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Haotian SHEN">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yuchen JIANG</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Yuchen JIANG">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Songnan REN</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Songnan REN">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yixiao XIAO</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Yixiao XIAO">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Mingchun XU</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Mingchun XU">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Chenxu LIU</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Chenxu LIU">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Yuqi SHEN</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Yuqi SHEN">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Ziqiao WANG</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Ziqiao WANG">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <a class="member__link" href="attributions#1">
              <h1 class="member__name">Songyuan XUE</h1>
            </a>
            <h3 class="member__title">Student</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Songyuan XUE">
      </div>
    </div>
  </div>

  <div class="l-container">
    <hr>
    <h1 class=" mx-auto text-center">
      Supervisors
    </h1>
    <div class="team-grid">
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <h1 class="member__name">Chengchen GUO</h1>
            <h3 class="member__title">Primary PI</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Chengchen GUO">
      </div>
      <div class="team-grid__member hover">
        <div class="member__info">
          <div class="center-vert-content">
            <h1 class="member__name">Yanbo MAO</h1>
            <h3 class="member__title">Instructor</h3>
          </div>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/robert-finkel_2.jpg" alt="Yanbo MAO">
      </div>

    </div>

  </div>
</div>



<div class="row">
  <div class="col-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what
        motivated you to participate in iGEM.</li>
      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>
      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of
      the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal
      information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div>

{% endblock %}