/* 悬停和点击时的样式 */
.ani-card-header:hover {
  cursor: pointer;
  background-color: #f0f0f0; /* 悬停时颜色变化 */
}

.ani-card-header.active {
  background-color: #ddd; /* 点击时颜色变化 */
}

/* 初始状态隐藏card-body */
.ani-card-body {
  display: none;
}

/* 添加淡入效果 */
.ani-card-body.active {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease; /* 添加淡入过渡效果 */
}

.ani-card-body.active.show {
  opacity: 1;
}
.card-body{

text-align: left;
}
/*侧边栏*/

.sidebar {
  position: fixed;
  top: 30vh;
  left: 0;
  width: 200px;
  /* Adjust the width as needed */
  height: 100vh;
  /* Make it full height of the viewport, adjust as needed */
  background-color: transparent;
  /* Set the desired background color */
  overflow-y: auto;
  /* Add scrollbar to the sidebar if content exceeds its height */
}