/*side bar*/
#sidebar-toggle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#sidebar-toggle img {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; /* 在容器之间均匀分布空间 */

}

.container-right {
  width: 35%; /* 设置容器宽度为屏幕宽度的一半 */
  margin-right: 10%; /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-left: auto; /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.container-left {
  width: 35%; /* 设置容器宽度为屏幕宽度的一半 */
  margin-left: 10%; /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-right: auto; /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  text-align: left;
  position: relative;
  padding-right:100px;
  overflow: hidden; /* 隐藏超出容器的内容 */
}

.container-left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px; /* 设置竖线的宽度 */
  height: 100%; /* 竖线的高度与容器高度相同 */
  background-color: #ffaa00; /* 设置竖线的颜色 */
  animation: slideFromRight 5s ease-in-out; /* 从右到左浮现的动画 */
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%); /* 初始位置，内容从右侧隐藏 */
  }
  100% {
    transform: translateX(0); /* 最终位置，内容从右到左浮现 */
  }
}

.container-right-1 {
  width: 45%; /* 设置容器宽度为屏幕宽度的一半 */
  margin-right: 10%; /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-left: auto; /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  text-align: left;
  position: relative;
  padding-left:200px;
  overflow: hidden; /* 隐藏超出容器的内容 */
}


.container-right-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* 竖线的高度与容器高度相同 */
  width: 8px; /* Adjust the thickness of the line as needed */
  background-color: #ffaa00; /* Adjust the color of the line as needed */
}


.container-left-1 {
  width: 35%; /* 设置容器宽度为屏幕宽度的一半 */
  margin-left: 10%; /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-right: auto; /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 20vh;
  --card-width: calc(var(--card-height) * 5);
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: cursive;
  margin: 0 auto; /* 水平居中 */
  font-size: 64px;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 102%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -1%;
    animation: spin 5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity 5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.centered-text-1 {
  width: 93%;
  display: inline-block; /* 使包装的文字元素变为内联块元素 */
  text-align: center; /* 文本居中对齐 */
  /*background-color: #f0f0f0; 可选：添加背景颜色以突出显示 */
  padding: 2px 5px; /* 可选：添加内边距以改善样式 */
}

.centered-text-2 {
  width: 93%;
  display: inline-block; /* 使包装的文字元素变为内联块元素 */
  /*background-color: #f0f0f0; 可选：添加背景颜色以突出显示 */
  padding: 0px; /* 可选：添加内边距以改善样式 */
  color: #FF0000; /* 根据需要设置颜色值，这里是红色 */
}

/* 设置较大的字号 */
.larger-text {
  font-size: 24px; /* 根据需要设置更大的字号值 */
}

.larger-text-1 {
  font-size: 64px; /* 根据需要设置更大的字号值 */
}

.larger-text-2 {
  font-size: 48px; /* 根据需要设置更大的字号值 */
}

a {
  font-size: large; /* Adjust the font size as needed */
}

/*.animation-container {
  position: relative;
  overflow: hidden;
}*/

.fade-in-text {
  opacity: 0;
  position: relative;
}


/*主题背景样式*/
body {
  background: linear-gradient(to bottom, black 50%, white 50%) no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh; /* 设置页面高度为视口高度 */
  background-size: 100% 50%; /* 设置渐变高度为页面的一半 */
}

body{
  color:#000000;
  letter-spacing:1.75px;
  overflow-x:hidden;
}

h1 span{
  font-weight:300;
}

h1{
  font-size:42px;
}

.main-cta{
  text-align:center;
  color:#fff;
  padding-top:120px;
position: fixed;
padding-left:295px;
}

.top-section{
  background:#000000 url('https://images.pexels.com/photos/207301/pexels-photo-207301.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center center / cover;
  width:100%;
  height:100vh;
    background-attachment: fixed;
  -webkit-filter: brightness(.85);
  filter: brightness(.85);
    transition: ease .45s;
  animation: fade-in 3.5s;
}

.background-section{
  display:block;
  margin:0 auto;
  text-align:center;
  width:100%;
  height:10vh;
  background:#4700fa;
  padding-top:45px;
  color:#ffffff;
  letter-spacing:1.5px;
  position:relative;
  z-index:999;
  box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.Nanoparticles-section{
  display:block;
  text-align:center;
  width:100%;
  height:190vh;
  background:#000000;
  padding-top:45px;
  color:#fff;
  letter-spacing:1.5px;
  position:relative;
  z-index:999;
box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.Problem-section{
  display:block;
 margin:0 auto;
  text-align:center;
  width:100%;
  height:200vh;
  background: linear-gradient(30deg, #6682ba, #011e70); /* 45度角线性渐变 */
  padding-top:45px;
  color:#fff;
  letter-spacing:1.5px;
  position:relative;
  z-index:999;
box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.middle-section{
  display:block;
 margin:0 auto;
  text-align:center;
  width:100%;
  height:100vh;
  background:#b0cd54;
  padding-top:45px;
  color:#fff;
  letter-spacing:1.5px;
  position:relative;
  z-index:999;
box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.middle-image{
   position:relative;
  float:right;
  right:-140px;
}
.middle-image img{
  max-width:500px;
  height:auto;
  mix-blend-mode:darken;
}


.bottom-image{
   position:relative;
  float:left;
}
.bottom-image img{
  max-width:500px;
  height:500px;
  border-radius:100%;
  mix-blend-mode:multiply;
  object-fit:cover;
}

.bottom-section{
  display:block;
 margin:0 auto;
  text-align:center;
  width:100%;
  height:80vh;
  background:#c4894d;
  padding-top:45px;
  color:#fff;
  letter-spacing:1.5px;
  position:relative;
  z-index:999;
}

@keyframes fade-in {
  0% {
    -webkit-filter: brightness(0);
    filter: brightness(0);
  }
  100% {
    -webkit-filter: brightness(.85);
    filter: brightness(.85);
  }
}
/*背景样式*/

/*button*/

.credit{
  text-align: center;
  color: rgba(255,255,255,0.4);

}

.content{
  padding-top: 45px;
  padding-bottom: 20px;
}

.button_container{
    width: 176px;
    margin: 0 auto;
    margin-right: 40%; 
    margin-top: 30px;
    padding-top: 40px;
    position: relative;
}

.button_su{
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 30px;
}

.su_button_circle{
  background-color: red;
  border-radius: 1000px;
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
  /*animation-timing-function: ease-in-out; */
}

.button_su_inner{
    display: inline-block;
    background: #F8B627;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    width: 132px;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 22px;
    z-index: 100000;
}

.button_text_container{
   position:relative;
   z-index: 10000;
}

.explode-circle {
   animation: explode 0.5s forwards;

}

.desplode-circle{
   animation: desplode 0.5s forwards;
}

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(42, 53, 80,0.2);
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87,0.8);
  }
}

@keyframes desplode {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87,0.8);
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(129, 80, 108,0.6);
  }
}
/*button*/

/*time line*/
h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}
.timeline-container {
	width:100%;
	margin:0 auto;
	overflow:auto;
	padding:2%;
}
.right-content, .left-content {
	float:left;
	display:block;
	width:50%;
}
.left-content {
	border-right:8px solid #78B579;	
	text-align:right;
  padding-right:100px;
  flex-direction: column; /* 设置左侧内容为纵向布局 */
  border-radius: 5px; /* 为边框两端添加5px的圆角 */
}
.right-content {
	border-left:8px solid #78B579;	
	text-align:left;
  padding-left:100px;
  border-radius: 5px; /* 为边框两端添加5px的圆角 */
}
.left-content p {
	margin:250px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}

.container-wrapper-1 {
  display: flex;
  justify-content: space-between; /* 使左右容器相互排布，无间距 */
}

.left-container, .right-container {
  flex: 1; /* 填充可用空间，以平分容器 */
  /* 可以添加其他样式，如背景颜色、边框等 */
}

.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

.home-middle-col {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 53%;
  overflow: hidden; /* 隐藏溢出部分 */
}

.scroll-container {
  width: 15px;
  position: relative;
}

.scroll-tracker {
  width: 15px;
  height: 0;
  border-radius: 10px;
  background: #78B579;
}