/*side bar*/
#sidebar-toggle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.head-font {
  font-family: 'Your-Desired-Font', sans-serif;
}

.headhead-font {
  font-family: 'Ma Shan Zheng', cursive;
  font-family: 'Teko', sans-serif;
}

.colored-text {
  color: #ffaa00;
  /* 这里设置你想要的颜色值 */
}

.colored-text-1 {
  color: #ffaa00;
  /* 这里设置你想要的颜色值 */
}

.colored-text-2 {
  color: rgb(0, 47, 167);
  /* 这里设置你想要的颜色值 */
}


#sidebar-toggle img {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* 在容器之间均匀分布空间 */

}

.container-right {
  width: 35%;
  /* 设置容器宽度为屏幕宽度的一半 */
  margin-right: 7%;
  /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-left: auto;
  /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  overflow: hidden;
}

.container-left {
  width: 45%;
  /* 设置容器宽度为屏幕宽度的一半 */
  margin-left: 8%;
  /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-right: auto;
  /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  text-align: left;
  position: relative;
  padding-right: 100px;
  overflow: hidden;
  /* 隐藏超出容器的内容 */
}

.container-left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  /* 设置竖线的宽度 */
  height: 100%;
  /* 竖线的高度与容器高度相同 */
  background-color: #ffaa00;
  /* 设置竖线的颜色 */
  animation: slideFromRight 5s ease-in-out;
  /* 从右到左浮现的动画 */
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    /* 初始位置，内容从右侧隐藏 */
  }

  100% {
    transform: translateX(0);
    /* 最终位置，内容从右到左浮现 */
  }
}

.container-right-1 {
  width: 45%;
  /* 设置容器宽度为屏幕宽度的一半 */
  margin-right: 10%;
  /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-left: auto;
  /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  text-align: left;
  position: relative;
  padding-left: 220px;
  overflow: hidden;
  /* 隐藏超出容器的内容 */
}


.container-right-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* 竖线的高度与容器高度相同 */
  width: 10px;
  /* Adjust the thickness of the line as needed */
  background-color: #ffaa00;
  /* Adjust the color of the line as needed */
}


.container-left-1 {
  width: 35%;
  /* 设置容器宽度为屏幕宽度的一半 */
  margin-right: 11%;
  /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-left: auto;
  /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.container-right-2 {
  width: 35%;
  /* 设置容器宽度为屏幕宽度的一半 */
  margin-right: 0%;
  /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-left: auto;
  /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  position: relative;
}

.container-left-2 {
  width: 50%;
  /* 设置容器宽度为屏幕宽度的一半 */
  margin-left: 0%;
  /* 将左外边距设置为自动，使容器在屏幕左半部分水平居中 */
  margin-right: auto;
  /* 将右外边距设置为0，确保容器紧贴屏幕左边缘 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
}

:root {
  --card-height: 12vw;
  /* 使用vw单位 */
  --card-width: calc(var(--card-height) * 4);
}

.card {
  background: #272c40;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  margin: 0 auto;
  /* 水平居中 */
  font-size: 64px;
}


@media (max-width: 768px) {
  .card {
    /* 在小屏幕上改变卡片的大小 */
    --card-height: 5vh;
  }
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 102%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -1%;
  animation: spin 5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.centered-text-1 {
  width: 93%;
  display: inline-block;
  /* 使包装的文字元素变为内联块元素 */
  text-align: center;
  /* 文本居中对齐 */
  /*background-color: #f0f0f0; 可选：添加背景颜色以突出显示 */
  padding: 2px 5px;
  /* 可选：添加内边距以改善样式 */
}

.centered-text-2 {
  width: 93%;
  display: inline-block;
  /* 使包装的文字元素变为内联块元素 */
  /*background-color: #f0f0f0; 可选：添加背景颜色以突出显示 */
  padding: 0px;
  /* 可选：添加内边距以改善样式 */
  color: #f57f7f;
  /* 根据需要设置颜色值，这里是红色 */
}

/* 设置较大的字号 */
.larger-text {
  font-size: 24px;
  /* 根据需要设置更大的字号值 */
}

.larger-text-1 {
  font-size: 64px;
  /* 根据需要设置更大的字号值 */
}

.larger-text-2 {
  font-size: 48px;
  /* 根据需要设置更大的字号值 */
}

.larger-text-3 {
  font-size: 28px;
  /* 根据需要设置更大的字号值 */
}

.larger-text-4 {
  font-size: 20px;
  /* 根据需要设置更大的字号值 */
}

.larger-text-5 {
  font-size: 56px;
  /* 根据需要设置更大的字号值 */
}


/*.animation-container {
  position: relative;
  overflow: hidden;
}*/

.fade-in-text {
  opacity: 0;
  position: relative;
}


/*主题背景样式*/
body {
  background: linear-gradient(to bottom, black 50%, white 50%) no-repeat;
  height: 100vh;
  /* 设置页面高度为视口高度 */
  background-size: 100% 50%;
  /* 设置渐变高度为页面的一半 */
}

body {
  color: #000000;
  letter-spacing: 1.75px;
  overflow-x: hidden;
}

h1 span {
  font-weight: 300;
}

h1 {
  font-size: 42px;
}

.main-cta {
  text-align: center;
  color: #fff;
  padding-top: 120px;
  position: fixed;
  padding-left: 295px;
}

.top-section {
  background: #ffffff url('https://static.igem.wiki/teams/4702/wiki/hp/people-photo/88.png') no-repeat center center / cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  -webkit-filter: brightness(.85);
  filter: brightness(.85);
  transition: ease .45s;
  animation: fade-in 3.5s;
}

.background {
  padding: 0;
  margin: 0;
}

.background-section {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 10vh;
  background: rgb(0, 47, 167);
  color: #ffffff;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 999;
  box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.Nanoparticles-section {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 300%;
  background: #058ec8;
  padding-top: 45px;
  color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 999;
  box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.Problem-section {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 300%;
  background: linear-gradient(-210deg, #6682ba, #355fd0);
  /* 45度角线性渐变 */
  padding-top: 45px;
  color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 999;
  box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.experiment-section {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 200%;
  background: #031625;
  padding-top: 45px;
  color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 999;
  box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.middle-section {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #b0cd54;
  padding-top: 45px;
  color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 999;
  box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.34);
}

.middle-image {
  position: relative;
  float: right;
  right: -140px;
}

.middle-image img {
  max-width: 500px;
  height: auto;
  mix-blend-mode: darken;
}


.bottom-image {
  position: relative;
  float: left;
}

.bottom-image img {
  max-width: 500px;
  height: 500px;
  border-radius: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
}

.bottom-section {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 300%;
  background: linear-gradient(-210deg, #D6BC46, #BE8A2F);
  padding-top: 45px;
  color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 999;
}

@keyframes fade-in {
  0% {
    -webkit-filter: brightness(0);
    filter: brightness(0);
  }

  100% {
    -webkit-filter: brightness(.85);
    filter: brightness(.85);
  }
}

/*背景样式*/

/*time line*/
h1 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0 40px;
  padding: 0;
}

.timeline-container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 2%;
}

.right-content,
.left-content {
  float: left;
  display: block;
  width: 50%;
}

.left-content {
  border-right: 8px solid #f57f7f;
  text-align: right;
  padding-right: 100px;
  flex-direction: column;
  /* 设置左侧内容为纵向布局 */
}

.right-content {
  border-left: 8px solid #f57f7f;
  text-align: left;
  padding-left: 100px;
}

.left-content p {
  margin: 250px 0 0;
}

.right-content p {
  margin: -10px 0 240px;
}

.container p {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7 ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.container-wrapper-1 {
  display: flex;
  justify-content: space-between;
  /* 使左右容器相互排布，无间距 */
}

.left-container,
.right-container {
  flex: 1;
  /* 填充可用空间，以平分容器 */
  /* 可以添加其他样式，如背景颜色、边框等 */
}

.left-content .more-padding {
  padding-right: 100px;
}

.right-content .more-padding {
  padding-left: 100px;
}

.home-middle-col {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 53%;
  overflow: hidden;
  /* 隐藏溢出部分 */
}

.scroll-container {
  width: 15px;
  position: relative;
}

.scroll-tracker {
  width: 15px;
  height: 0;
  border-radius: 10px;
  background: #78B579;
}

#timeline {
  display: flex;
  background-color: #031625;

  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;

  &:before,
  &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 30% !important;

    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }

    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-bg {
      filter: grayscale(0);
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;

  h1 {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
  }
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  p {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.728rem;
    line-height: 0;
  }
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}


/*from HP*/
/*
#projects ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-flow: row wrap;
justify-content: flex-start;
gap: 1rem;
font-size: 1rem;
}*/
#projects .interviewee {
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
}


@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
}

#projects .interviewee {
  grid-column: 1/6;
  grid-row: 1/2;
}

.text {
  grid-column: 5/11;
  grid-row: 1/2;
  order: 2;
}

#projects ul {
  justify-content: flex-end;
}

#hpquestion {
  overflow: auto;
  margin: 20px 0px;
  padding-top: 0;
}

.hpanswer {
  overflow: auto;
  padding-top: 0;
}

#hpquestion>h3 {
  color: rgb(254, 232, 154);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.hpanswer>h3 {
  color: rgb(254, 232, 154);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  position: sticky;
  top: 0;
  background-color: inherit;

}



/*image window*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.blog-slider {
  width: 90%;
  position: relative;
  max-width: 1300px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 650px;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
  transition-delay: 1.7s;
}

.blog-slider__img {
  width: 600px;
  flex-shrink: 0;
  height: 450px;
  box-shadow: 4px 13px 30px 1px rgba(70, 158, 180, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
  background: linear-gradient(147deg, rgba(135, 207, 164, 0.23) 0%, rgba(70, 158, 180, 0.23) 74%);

}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content>* {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #469eb4 0%, #7dcfa4 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(70, 158, 180, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0 !important;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px !important;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #469b9b;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #469eb4;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(135, 207, 164, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/*from HP*/

/*introduction button*/
.button-container {
  text-align: center;
}

.round-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* 将按钮变成圆形 */
  margin: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  transition: transform 0.3s;
  /* 添加 transform 属性的过渡效果 */
}

/* 悬停时按钮变大 */
.hover-scale:hover {
  transform: scale(1.1);
  /* 悬停时将按钮放大 10% */
}